@model List<UserMenuIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("User menu")).TermString;

}

<h1><img src="~/images/icons/UserMenu.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("User menu")).TermString</h1><a data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
    <img src="~/images/icons/Favorites.png" width="20" height="20" title="@Term.Find(x => x.InternalName.Equals("Add favorite")).TermString" />
</a>

<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" Template="#Id" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" Template="#Name" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Icon")).TermString" Template="#IconName" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Left menu type")).TermString" Template="#LeftMenuType" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Left menu")).TermString" Template="#LeftMenu" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Right menu type")).TermString" Template="#RightMenuType" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Right menu")).TermString" Template="#RightMenu" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="~/UserMenu/Create">@Term.Find(x => x.InternalName.Equals("Add user menu")).TermString</a>
<script id="Id" type="text/x-">
    <div>
        ${UserMenuId}
    </div>
</script>
<script id="Name" type="text/x-">
    <div>
        ${Name}
    </div>
</script>
<script id="IconName" type="text/x-">
    <div>
        ${IconName}
    </div>
</script>
<script id="LeftMenuType" type="text/x-">
    <div>
        ${LeftMenuTypeName}
    </div>
</script>
<script id="LeftMenu" type="text/x-">
    <div>
        ${LeftPageName}
    </div>
</script>
<script id="RightMenuType" type="text/x-">
    <div>
        ${RightMenuTypeName}
    </div>
</script>
<script id="RightMenu" type="text/x-">
    <div>
        ${RightPageName}
    </div>
</script>
<script id="Edit" type="text/x-">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/UserMenu/Edit/${UserMenuId}"><img src="/images/icons/EditS.png" height="18" width="18"  title="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="UserMenu/Delete/${UserMenuId}"><img src="/images/icons/DeleteS.png" height="18" width="18"   title="@Term.Find(x => x.InternalName.Equals("Delete")).TermString"  /></a>

    </div>
</script>
