@model List<ClassificationValueIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification values")).TermString;
    ViewData["Image"] = "Value.png";
    ViewData["FavoriteGroup"] = @ViewBag.FavoriteGroupList;
    Layout = "_LayoutAdmin";
}
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ClassificationValueId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="Name" headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="MenuName" headerText="@Term.Find(x => x.InternalName.Equals("Menu name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="MouseOver" headerText="@Term.Find(x => x.InternalName.Equals("Mouse over")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="DateFrom" headerText="@Term.Find(x => x.InternalName.Equals("From date")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="DateTo" headerText="@Term.Find(x => x.InternalName.Equals("To date")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Roles")).TermString" template="#Roles" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Users")).TermString" template="#Users" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Values" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Languages" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Add new classification value")).TermString" template="#Add" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>


<a href="~/Classification/Index">@Term.Find(x => x.InternalName.Equals("Back to classifications")).TermString</a>
<a asp-controller="ClassificationValue" asp-action="Create" asp-route-id="@ViewBag.Id" asp-route-ParentId="0">@Term.Find(x => x.InternalName.Equals("Add new classification value")).TermString</a>
<script id="Values" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValueProperty/Index/${ClassificationValueId}"><img src="/images/icons/Property.png" height="18" width="18" title="@Term.Find(x => x.InternalName.Equals("Properties")).TermString" /></a>

    </div>
</script>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValue/Edit/${ClassificationValueId}"><img src="/images/icons/EditS.png" height="18" width="18" title="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Languages" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValue/LanguageIndex/${ClassificationValueId}"><img src="/images/icons/LanguageS.png" height="18" width="50" title="@Term.Find(x => x.InternalName.Equals("Languages")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValue/Delete/${ClassificationValueId}"><img src="/images/icons/DeleteS.png" height="18" width="18" title="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" /></a>

    </div>
</script>
<script id="Add" type="text/x-template">
    <div>

        ${if(MaxLevel === Level)}
        Deepest level
        ${else}
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValue/Create/@ViewBag.Id?ParentId=${ClassificationValueId}"><img src="/images/icons/AddS.png" height="18" width="18" title="@Term.Find(x => x.InternalName.Equals("Add")).TermString" /></a>
        ${/if}
    </div>
</script>

<script id="Roles" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValueRole/Index/${ClassificationValueId}"><span style="color:red">R</span>ole</a>

    </div>
</script>
<script id="Users" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValueUser/Index/${ClassificationValueId}"><span style="color:red">U</span>ser</a>

    </div>
</script>