@using Syncfusion.EJ2
@using Newtonsoft.Json
@model FrontOrganizationAdvancedSearchGet
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Organization advanced search")).TermString;

    Layout = "_Layout";
}
<h1>@Term.Find(x => x.InternalName.Equals("Organization advanced search")).TermString</h1>
<div class="container">


    <form method="post" id="form1">

        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Name")).TermString :
            </div>
            <div class="col-9">
                <ejs-textbox ejs-for="@Model.OrganizationName" id="OrganizationName"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Parent organization")).TermString :
            </div>
            <div class="col-9">
                <ejs-dropdownlist id="Parent" dataSource="@Model.ParentOrganizations" ejs-for="@Model.OrganizationParentId" value="0" popupHeight="220px">
                    <e-dropdownlist-fields text="Name" value="OrganizationId"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Status")).TermString :
            </div>
            <div class="col-9">
                <ejs-dropdownlist id="Status" dataSource="@Model.Statuses" ejs-for="@Model.OrganizationStatusId" value="0" popupHeight="220px">
                    <e-dropdownlist-fields text="Name" value="StatusId"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Organization type")).TermString :
            </div>
            <div class="col-9">
                <ejs-dropdownlist id="Type" dataSource="@Model.OrganizationTypes" ejs-for="@Model.OrganizationTypeId" value="0" popupHeight="220px">
                    <e-dropdownlist-fields text="Name" value="OrganizationTypeId"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Country")).TermString :
            </div>
            <div class="col-9">
                <ejs-dropdownlist id="Country" dataSource="@Model.Countries" ejs-for="@Model.CountryId" value="0" popupHeight="220px">
                    <e-dropdownlist-fields text="Name" value="CountryId"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("State / province")).TermString :
            </div>
            <div class="col-9">
                <ejs-textbox id="State" ejs-for="@Model.OrganizationProvinceState"></ejs-textbox>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("City")).TermString :
            </div>
            <div class="col-9">
                <ejs-textbox id="City" ejs-for="OrganizationCity"></ejs-textbox>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Legal entity")).TermString :
            </div>
            <div class="col-9">

                <div class="radio-control">
                    <div class="row">
                        <ejs-radiobutton id="LegalEntityAny" label="@Term.Find(x => x.InternalName.Equals("Any")).TermString" name="LegalEntity" value="0" checked="true"></ejs-radiobutton>
                    </div>
                    <div class="row">
                        <ejs-radiobutton id="LegalEntityNo" label="@Term.Find(x => x.InternalName.Equals("No legal entity")).TermString" name="LegalEntity" value="1"></ejs-radiobutton>
                    </div>
                    <div class="row">
                        <ejs-radiobutton id="LegalEntityYes" label="@Term.Find(x => x.InternalName.Equals("Legal entity")).TermString" name="LegalEntity" value="2"></ejs-radiobutton>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Internal")).TermString :
            </div>
            <div class="col-9">

                <div class="radio-control">
                    <div class="row">
                        <ejs-radiobutton id="InternalAny" label="@Term.Find(x => x.InternalName.Equals("Any")).TermString" name="Internal" value="0" checked="true"></ejs-radiobutton>
                    </div>
                    <div class="row">
                        <ejs-radiobutton id="InternalNo" label="@Term.Find(x => x.InternalName.Equals("External")).TermString" name="Internal" value="1"></ejs-radiobutton>
                    </div>
                    <div class="row">
                        <ejs-radiobutton id="InternalYes" label="@Term.Find(x => x.InternalName.Equals("Internal")).TermString" name="Internal" value="2"></ejs-radiobutton>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("I am a member")).TermString :
            </div>
            <div class="col-9">

                <div class="radio-control">
                    <div class="row">
                        <ejs-radiobutton id="IAmAMemberAny" label="@Term.Find(x => x.InternalName.Equals("Any")).TermString" name="IAmMemberOfOrganization" value="0" checked="true"></ejs-radiobutton>
                    </div>
                    <div class="row">
                        <ejs-radiobutton id="IAmAMemberNo" label="@Term.Find(x => x.InternalName.Equals("Yes")).TermString" name="IAmMemberOfOrganization" value="1"></ejs-radiobutton>
                    </div>
                    <div class="row">
                        <ejs-radiobutton id="IAmAMemberYes" label="@Term.Find(x => x.InternalName.Equals("No")).TermString" name="IAmMemberOfOrganization" value="2"></ejs-radiobutton>
                    </div>
                </div>
            </div>
        </div>


        <ejs-button id="primarybtn" content="@Term.Find(x => x.InternalName.Equals("Search")).TermString" action="Submit" isPrimary="true"></ejs-button>

    </form>
    
</div>
