@model FrontOrganizationDashboard
@{
    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    ViewData["Title"] = @AllStuff.UITerms.Find(x => x.InternalName.Equals("Organization dashboard")).TermString;
    ViewData["Image"] = "Organization.png";
    ViewData["FavoriteGroup"] = AllStuff.FavoriteGroupList;
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        @if (Model.CanEdit)
        {
            <a asp-action="Edit" asp-route-id="@Model.OrganizationId">
                <img src="~/images/icons/Edit.png" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Edit")).TermString" width="20" height="20" />&nbsp;
            </a>}
        @if (Model.CanCreate)
        {

            <a asp-action="Create" asp-route-id="@Model.OrganizationId">
                <img src="~/images/icons/New.png" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("New")).TermString" width="20" height="20" />&nbsp;
            </a>}
    </div>
</div>

<div class="row">
    <div class="col-7 ">
        @Html.Raw(@Model.Description)
    </div>

    <div class="col-2">
        <div> @AllStuff.UITerms.Find(x => x.InternalName.Equals("Parent")).TermString: </div>
        <div> @AllStuff.UITerms.Find(x => x.InternalName.Equals("Status")).TermString:</div>
        <div> @AllStuff.UITerms.Find(x => x.InternalName.Equals("Type")).TermString:</div>
        <div> @AllStuff.UITerms.Find(x => x.InternalName.Equals("Creator")).TermString:</div>
        <div> @AllStuff.UITerms.Find(x => x.InternalName.Equals("Created date")).TermString:</div>
        <div> @AllStuff.UITerms.Find(x => x.InternalName.Equals("Modifier")).TermString:</div>
        <div> @AllStuff.UITerms.Find(x => x.InternalName.Equals("Modified date")).TermString:</div>
    </div>
    <div class="col-3">
        @if (Model.ParentOrganizationId == null)
        {
            <div> @AllStuff.UITerms.Find(x => x.InternalName.Equals("No parent")).TermString</div>

        }
        else
        {
            <div><a asp-route-id="@Model.ParentOrganizationId"> @Model.ParentOrganizationName</a></div>
        }
        <div> @Model.ParentOrganizationName</div>
        <div> @Model.StatusName</div>
        <div> @Model.OrganizationTypeName</div>
        <div> <a asp-controller="FrontUser" asp-action="Dashboard" asp-route-id="@Model.CreatorId"> @Model.CreatorName</a></div>
        <div> @Model.CreatedDate</div>
        <div> <a asp-controller="FrontUser" asp-action="Dashboard" asp-route-id="@Model.ModifierId"> @Model.ModifierName</a></div>
        <div> @Model.ModifiedDate</div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Address.png" height="30" width="30" />&nbsp;@AllStuff.UITerms.Find(x => x.InternalName.Equals("Addresses")).TermString
            </h2>
        </div>
        @if (Model.CanEdit)
        {
            <div class="col-12">
                <a asp-controller="FrontOrganizationAddress" asp-action="Create" asp-route-id="@Model.OrganizationId">
                    <img src="~/images/icons/Add.png" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Add")).TermString" width="15" height="15" />&nbsp;
                </a>
            </div>
        }
        <ejs-grid id="Address" dataSource="@Model.Addresses" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="AddressTypeName" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Address type")).TermString" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column template="#Address1Column" field="Address1" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Address 1")).TermString" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column field="CountryName" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Country")).TermString" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column field="City" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("City")).TermString" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Telecom.png" height="30" width="30" />&nbsp;@AllStuff.UITerms.Find(x => x.InternalName.Equals("Telecom")).TermString
            </h2>
        </div>
        @if (Model.CanEdit)
        {
            <div class="col-12">
                <a asp-controller="FrontOrganizationTelecom" asp-action="Create" asp-route-id="@Model.OrganizationId">
                    <img src="~/images/icons/Add.png" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Add")).TermString" width="15" height="15" />&nbsp;
                </a>
            </div>
        }
        <ejs-grid id="Telecom" dataSource="@Model.Telecoms" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Type")).TermString" field="TelecomTypeName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column template="#TelecomValueColumn" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Telecom value")).TermString" field="TelecomValue" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Organization.png" width="30" height="30" />&nbsp;@AllStuff.UITerms.Find(x => x.InternalName.Equals("Sub organizations")).TermString
            </h2>
        </div>
        @if (Model.CanEdit)
        {
            <div class="col-12">
                <a asp-controller="FrontOrganization" asp-action="Create" asp-route-id="@Model.OrganizationId">
                    <img src="~/images/icons/Organization.png" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Organization")).TermString" width="15" height="15" />&nbsp;
                </a>
            </div>
        }
        <ejs-grid id="SubOrganizations" dataSource="@Model.SubOrganizations" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="Name" headerText="" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column field="OrganizationTypeName" headerText="" textAlign="Right" type="text" template="#Organization"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Position.png" width="30" height="30" />&nbsp;@AllStuff.UITerms.Find(x => x.InternalName.Equals("Position")).TermString
            </h2>
        </div>
        @if (Model.CanEdit)
        {
            <div class="col-12">
                <a asp-controller="FrontOrganizationPosition" asp-action="Create" asp-route-id="@Model.OrganizationId">
                    <img src="~/images/icons/Position.png" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Position")).TermString" width="15" height="15" />&nbsp;
                </a>
            </div>
        }
        <ejs-grid id="PersonPositions" dataSource="@Model.PersonRoles" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Position")).TermString" field="PositionName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("First name")).TermString" field="FirstName" textAlign="Right" type="text" template="#PersonPositionColumn"></e-grid-column>
                <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Last name")).TermString" field="LastName" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
        <ejs-treeview id="listdata">
            <e-treeview-fields dataSource="@Model.SubOrganizationTree" id="Name" parentId="Name" text="Name" hasChildren="SubOrganizations" expanded="expanded"></e-treeview-fields>
        </ejs-treeview>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Content.png" width="30" height="30" />&nbsp;@AllStuff.UITerms.Find(x => x.InternalName.Equals("Content")).TermString
            </h2>
        </div>
        <ejs-grid id="Contents" dataSource="@Model.Contents" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Title")).TermString" field="Title" textAlign="Right" type="text" template="#Content"></e-grid-column>
                <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Type")).TermString" field="TypeName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Status")).TermString" field="StatusName" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Process.png" width="30" height="30" />&nbsp;@AllStuff.UITerms.Find(x => x.InternalName.Equals("Processes")).TermString
            </h2>
        </div>
        <ejs-grid id="Processes" dataSource="@Model.Processes" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Subject")).TermString" field="Subject" textAlign="Right" type="text" template="#Process"></e-grid-column>
                <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Process type")).TermString" field="ProcessTypeName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Stage")).TermString" field="ProcessTypeStageTypeName" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
@if (Model.CanEdit)
{
    <div class="row">
        <div class="col-6">
            <div>
                <h2>
                    <img src="~/images/icons/Role.png" width="30" height="30" />&nbsp;@AllStuff.UITerms.Find(x => x.InternalName.Equals("Roles")).TermString
                </h2>
            </div>
            <ejs-grid id="PersonRoles" dataSource="@Model.PersonRoles" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Role")).TermString" field="RoleName" textAlign="Right" type="text"></e-grid-column>
                    <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("First name")).TermString" field="FirstName" textAlign="Right" type="text" template="#PersonRoleColumn"></e-grid-column>
                    <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Last name")).TermString" field="LastName" textAlign="Right" type="text"></e-grid-column>
                    <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Organization")).TermString" field="OrganizationName" textAlign="Right" type="text"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
            <ejs-treeview id="listdata">
                <e-treeview-fields dataSource="@Model.SubOrganizationTree" id="Name" parentId="Name" text="Name" hasChildren="SubOrganizations" expanded="expanded"></e-treeview-fields>
            </ejs-treeview>
        </div>
    </div>
}
<script id="OrganizationName" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontOrganization/Dashboard/${OrganizationId}"><u>${OrganizationName}</u></a>

    </div>
</script>
<script id="Content" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontContent/ShowContent/${ContentId}"><u>${Title}</u></a>

    </div>
</script>
<script id="Process" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontProcess/View/${ProcessId}"><u>${Subject}</u></a>

    </div>
</script>
<script id="Organization" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontOrganization/Dashboard/${OrganizationId}"><u>${Name}</u></a>

    </div>
</script>
<script id="PersonRoleColumn" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontPerson/Dashboard/${PersonId}"><u>${FirstName}</u></a>

    </div>
</script>
<script id="PersonPositionColumn" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontPerson/Dashboard/${PersonId}"><u>${FirstName}</u></a>

    </div>
</script>
<script id="Address1Column" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontOrganizationAddress/View/${OrganizationAddressID}"><u>${Address1}</u></a>

    </div>
</script>
<script id="TelecomValueColumn" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontOrganizationTelecom/View/${OrganizationTelecomID}"><u>${TelecomValue}</u></a>

    </div>
</script>
