@model List<OrganizationIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Organizations")).TermString;

    Layout = "_LayoutAdmin";
}

<h1><img src="~/images/icons/Organizations.png" width="50" height="50" />
    <span style="color:red;font-size:14px">O</span>@Term.Find(x => x.InternalName.Equals("Organizations")).TermString</h1>
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="Name" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Addresses")).TermString" template="#Address" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Telecom")).TermString" template="#Telecom" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Language" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="~/Organization/Create">@Term.Find(x => x.InternalName.Equals("Add new organization")).TermString</a>
<script id="Address" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/OrganizationAddress/Index/${OrganizationId}"><span style="color:red">A</span>ddress</a>

    </div>
</script>
<script id="Telecom" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/OrganizationTelecom/Index/${OrganizationId}"><span style="color:red">T</span>elecom</a>

    </div>
</script>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/Organization/Edit/${OrganizationId}"><img src="/images/icons/EditS.png" height="18" width="18"  title="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Language" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/Organization/LanguageIndex/${OrganizationId}"><img src="/images/icons/LanguageS.png"  height="18" width="50" title="@Term.Find(x => x.InternalName.Equals("Languages")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="Organization/Delete/${OrganizationId}"><img src="/images/icons/DeleteS.png" height="18" width="18"   title="@Term.Find(x => x.InternalName.Equals("Delete")).TermString"  /></a>

    </div>
</script>
