@model FrontPersonDashboard
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("User dashboard")).TermString;
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <h1>
            <img src="~/images/icons/User.png" height="50" width="50" />&nbsp;@Term.Find(x => x.InternalName.Equals("User dashboard")).TermString: @Model.FirstName
        </h1>
    </div>
</div>
<a data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
    <img src="~/images/icons/Favorites.png" width="20" height="20" title="@Term.Find(x => x.InternalName.Equals("Add favorite")).TermString" />
</a>
<div class="row">
    <div class="col-12">
        @if (!Model.IsUser)
        {
            <a asp-action="Edit" asp-route-id="@Model.PersonId">
                <img src="~/images/icons/Edit.png" title="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" width="20" height="20" />&nbsp;
            </a>}
    </div>
</div>
<div class="row">

    <div class="col-2">
        <div> @Term.Find(x => x.InternalName.Equals("Salutation")).TermString: </div>
        <div> @Term.Find(x => x.InternalName.Equals("First name")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Middle name")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Last name")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Personal title")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Suffix")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Nick name")).TermString:</div>
    </div>
    <div class="col-3">
        <div>&nbsp;@Model.Salutation</div>
        <div>&nbsp;@Model.FirstName</div>
        <div>&nbsp;@Model.MiddleName</div>
        <div>&nbsp;@Model.LastName</div>
        <div>&nbsp;@Model.PersonalTitle</div>
        <div>&nbsp;@Model.Suffix</div>
        <div>&nbsp;@Model.NickName</div>
    </div>
    <div class="col-2">
        <div> @Term.Find(x => x.InternalName.Equals("Local first name")).TermString: </div>
        <div> @Term.Find(x => x.InternalName.Equals("Local middle name")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Local last name")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Gender")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Birth date")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Security level")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Organization")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Creator")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Created date")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Modifier")).TermString:</div>
        <div> @Term.Find(x => x.InternalName.Equals("Modified date")).TermString:</div>
    </div>
    <div class="col-3">
        <div>&nbsp;@Model.FirstNameLocal</div>
        <div>&nbsp;@Model.MiddleNameLocal</div>
        <div>&nbsp;@Model.LastNameLocal</div>
        <div>&nbsp;@Model.GenderName</div>
        <div>&nbsp;@Model.BirthDate</div>
        <div>&nbsp;@Model.SecurityLevelName</div>
        <div>&nbsp;@Model.OrganizationName</div>
        <div>&nbsp;<a asp-controller="FrontPerson" asp-action="Dashboard" asp-route-id="@Model.CreatorId">@Model.CreatorName</a></div>
        <div>&nbsp;@Model.CreatedDate</div>
        <div>&nbsp;<a asp-controller="FrontPerson" asp-action="Dashboard" asp-route-id="@Model.ModifierId">@Model.ModifierName</a></div>
        <div>&nbsp;@Model.ModifiedDate</div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Address.png" height="30" width="30" />&nbsp;@Term.Find(x => x.InternalName.Equals("Addresses")).TermString
            </h2>
        </div>
        @if (!Model.IsUser)
        {
            <div class="col-12">
                <a asp-controller="FrontPersonAddress" asp-action="Create" asp-route-id="@Model.PersonId">
                    <img src="~/images/icons/Add.png" title="@Term.Find(x => x.InternalName.Equals("Add")).TermString" width="15" height="15" />&nbsp;
                </a>
            </div>
        }
        <ejs-grid id="Address" dataSource="@Model.Addresses" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="AddressTypeName" headerText="@Term.Find(x => x.InternalName.Equals("Address type")).TermString" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column template="#Address1Column" field="Address1" headerText="@Term.Find(x => x.InternalName.Equals("Address 1")).TermString" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column field="CountryName" headerText="@Term.Find(x => x.InternalName.Equals("Country")).TermString" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column field="City" headerText="@Term.Find(x => x.InternalName.Equals("City")).TermString" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Telecom.png" height="30" width="30" />&nbsp;@Term.Find(x => x.InternalName.Equals("Telecom")).TermString
            </h2>
        </div>
        @if (!Model.IsUser)
        {
            <div class="col-12">
                <a asp-controller="FrontPersonTelecom" asp-action="Create" asp-route-id="@Model.PersonId">
                    <img src="~/images/icons/Add.png" title="@Term.Find(x => x.InternalName.Equals("Add")).TermString" width="15" height="15" />&nbsp;
                </a>
            </div>
        }
        <ejs-grid id="Telecom" dataSource="@Model.Telecoms" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Type")).TermString" field="TelecomTypeName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column template="#TelecomValueColumn" headerText="@Term.Find(x => x.InternalName.Equals("Telecom value")).TermString" field="TelecomValue" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
@if (Model.IsUser)
{<div class="row">
        <div class="col-6">
            <div>
                <h2>
                    <img src="~/images/icons/Organization.png" height="30" width="30" />&nbsp;@Term.Find(x => x.InternalName.Equals("Roles")).TermString
                </h2>
            </div>
            <ejs-grid id="OrganizationRole" dataSource="@Model.OrganizationRoles" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Role")).TermString" field="RoleName" textAlign="Right" type="text"></e-grid-column>
                    <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" field="OrganizationName" textAlign="Right" type="text" template="#OrganizationRoleColumn"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
        <div class="col-6">
            <div>
                <h2>
                    <img src="~/images/icons/Project.png" height="30" width="30" />&nbsp;@Term.Find(x => x.InternalName.Equals("Projects")).TermString
                </h2>
            </div>
            <ejs-grid id="Project" dataSource="@Model.Projects" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Role")).TermString" field="RoleName" textAlign="Right" type="text"></e-grid-column>
                    <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" field="ProjectName" textAlign="Right" type="text" template="#ProjectName"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
}
<div class="row">
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Process.png" height="30" width="30" />&nbsp;@Term.Find(x => x.InternalName.Equals("Processes")).TermString
            </h2>
        </div>
        <ejs-grid id="Process" dataSource="@Model.Processes" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Process template")).TermString" field="ProcessTemplateName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Subject")).TermString" field="Subject" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Stage")).TermString" field="ProcessTemplateStageTypeName" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Content.png" height="30" width="30" />&nbsp;@Term.Find(x => x.InternalName.Equals("Content")).TermString
            </h2>
        </div>
        <ejs-grid id="Content" dataSource="@Model.Contents" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Title")).TermString" field="Title" textAlign="Right" type="text" template="#ContentPanel"></e-grid-column>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Type")).TermString" field="TypeName" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div>
            <h2>
                <img src="~/images/icons/Position.png" height="30" width="30" />&nbsp;@Term.Find(x => x.InternalName.Equals("Positions")).TermString
            </h2>
            @if (!Model.IsUser)
            {
                <div class="col-12">
                    <a asp-controller="FrontPersonPosition" asp-action="Create" asp-route-id="@Model.PersonId">
                        <img src="~/images/icons/Add.png" title="@Term.Find(x => x.InternalName.Equals("Position")).TermString" width="15" height="15" />&nbsp;
                    </a>
                </div>
            }
        </div>
        <ejs-grid id="OrganizationPosition" dataSource="@Model.OrganizationPositions" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Position")).TermString" field="PositionName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" field="OrganizationName" textAlign="Right" type="text" template="#OrganizationPositionColumn"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>


<script id="OrganizationRoleColumn" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontOrganization/Dashboard/${OrganizationId}"><u>${OrganizationName}</u></a>

    </div>
</script>
<script id="OrganizationPositionColumn" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontOrganization/Dashboard/${OrganizationId}"><u>${OrganizationName}</u></a>

    </div>
</script>
<script id="ProjectName" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontProject/Dashboard/${ProjectId}"><u>${ProjectName}</u></a>

    </div>
</script>
<script id="ContentPanel" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontContent/ShowContent/${ContentId}"><u>${Title}</u></a>

    </div>
</script>
<script id="Address1Column" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontPersonAddress/View/${PersonAddressID}"><u>${Address1}</u></a>

    </div>
</script>
<script id="TelecomValueColumn" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontPersonTelecom/View/${PersonTelecomID}"><u>${TelecomValue}</u></a>

    </div>
</script>
