@model List<PersonAdvancedSearchResult>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Person search result")).TermString;
    Layout = "_Layout";
}
<h1>@Term.Find(x => x.InternalName.Equals("Person search result")).TermString</h1>
<div class="container">
    @*<img src="~/images/icons/Persons.png" width="50" height="50" />*@
    <ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("First name")).TermString" template="#FirstName" textAlign="Center" type="string"></e-grid-column>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Middle name")).TermString" template="#MiddleName" textAlign="Center" type="string"></e-grid-column>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Last name")).TermString" template="#LastName" textAlign="Center" type="string"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
    <script id="FirstName" type="text/x-template">
        <div>
            <a class="nav-link text-dark font-weight-bold" href="/FrontUser/Dashboard/${PersonId}"><u>${FirstName}</u></a>

        </div>
    </script>
    <script id="MiddleName" type="text/x-template">
        <div>
            ${MiddleName}
        </div>
    </script>
    <script id="LastName" type="text/x-template">
        <div>
            ${LastName}
        </div>
    </script>
