@model List<ProcessTemplateIndexGet>
@{
    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    ViewData["Title"] = @AllStuff.UITerms.Find(x => x.InternalName.Equals("Process templates")).TermString;
    ViewData["Image"] = "Template.png";
    ViewData["FavoriteGroup"] = AllStuff.FavoriteGroupList;
    Layout = "_LayoutAdmin";
}
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ProcessTemplateId" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="Name" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Fields")).TermString" template="#Field" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Stages")).TermString" template="#Stage" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Flows")).TermString" template="#Flow" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Language" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="~/ProcessTemplate/Create">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Add new process template")).TermString</a>
<script id="Field" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProcessTemplateField/Index/${ProcessTemplateId}"><span style="color:red">F</span>ields</a>

    </div>
</script>
<script id="Stage" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProcessTemplateStage/Index/${ProcessTemplateId}"><span style="color:red">S</span>tages</a>

    </div>
</script>
<script id="Flow" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProcessTemplateFlow/Index/${ProcessTemplateId}"><span style="color:red">F</span>lows</a>

    </div>
</script>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProcessTemplate/Edit/${ProcessTemplateId}"><img src="/images/icons/EditS.png" height="18" width="18"  title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Language" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProcessTemplate/LanguageIndex/${ProcessTemplateId}"><img src="/images/icons/LanguageS.png"  height="18" width="50" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Languages")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="ProcessTemplate/Delete/${ProcessTemplateId}"><img src="/images/icons/DeleteS.png" height="18" width="18"   title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Delete")).TermString"  /></a>

    </div>
</script>
