@model FrontClassificationValueIndexGet
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification dashboard")).TermString;
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <h1>@Term.Find(x => x.InternalName.Equals("Classification dashboard")).TermString: @Model.ClassificationValue - @Model.ClassificationName</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div><h2>@Term.Find(x => x.InternalName.Equals("Users")).TermString</h2></div>
        <ejs-grid id="Users" dataSource="@Model.Users" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="FirstName" headerText="@Term.Find(x => x.InternalName.Equals("First name")).TermString" textAlign="Right" type="text" template="#UserTemplate"></e-grid-column>
                <e-grid-column field="LastName" headerText="@Term.Find(x => x.InternalName.Equals("Last name")).TermString" textAlign="Right" type="text" ></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-6">
        <div><h2>@Term.Find(x => x.InternalName.Equals("Roles")).TermString</h2></div>
        <ejs-grid id="Members" dataSource="@Model.Roles" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Role")).TermString" field="Name" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div><h2>@Term.Find(x => x.InternalName.Equals("Content")).TermString</h2></div>
        <ejs-grid id="Contents" dataSource="@Model.Contents" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Title")).TermString" field="Title" textAlign="Right" type="text" template="#ContentTemplate"></e-grid-column>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Content type")).TermString" field="ContentTypeName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Status")).TermString" field="StatusName" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    @*<div class="col-6">
        <div><h2>Processes</h2></div>
        <ejs-grid id="Processes" dataSource="@Model.Processes" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="" field="Subject" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="" field="ProcessTemplateName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="" field="ProcessTemplateStageTypeName" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>*@
</div>
<script id="UserTemplate" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontUser/Dashboard/${PersonId}"><u>${FirstName}</u></a>

    </div>
</script>
<script id="ContentTemplate" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontContent/ShowContent/${ContentId}"><u>${Title}</u></a>

    </div>
</script>
