@model List<ClassificationValueAdvancedSearchResult>
@{
    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification value search result")).TermString;
    ViewData["Image"] = "Value.png";
    ViewData["FavoriteGroup"] = @ViewBag.FavoriteGroupList;
    Layout = "_Layout";
}
<div class="container">

    <ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Classification value")).TermString" template="#ClassificationValueName" textAlign="Center" type="string"></e-grid-column>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Classification")).TermString" template="#ClassificationName" textAlign="Center" type="string"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>
<script id="ClassificationValueName" type="text/x-template">
    <div class="leftAlignGridColumn">
        <a class="nav-link text-dark font-weight-bold" href="/FrontClassificationValue/Dashboard/${ClassificationValueId}"><u>${ClassificationValueName}</u></a>

    </div>
</script>
<script id="ClassificationName" type="text/x-template">
    <div class="leftAlignGridColumn">
        ${ClassificationName}
    </div>
</script>
