@model List<ProjectTypeIndexGet>
@{
    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    //   var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    ViewData["Title"] = @AllStuff.UITerms.Find(x => x.InternalName.Equals("Project types")).TermString;
    ViewData["Image"] = "Type.png";
    ViewData["FavoriteGroup"] = @AllStuff.FavoriteGroupList;
    Layout = "_LayoutAdmin";
}
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ProjectTypeId" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="Name" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column template="#Matrix" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Matrix")).TermString" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Classification" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Classification")).TermString" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Property" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Property")).TermString" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Edit" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Edit")).TermString" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Languages" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Languages")).TermString" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Delete")).TermString" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="~/ProjectType/Create">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Add new project type")).TermString</a>
<script id="Matrix" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProjectTypeMatrix/Index/${ProjectTypeId}"><img src="/images/icons/matrix.png" height="18" width="18"  title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Matrix")).TermString" /></a>

    </div>
</script>
<script id="Classification" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProjectTypeClassification/Index/${ProjectTypeId}"><img src="/images/icons/Classification.png" height="18" width="18"  title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Classification")).TermString" /></a>

    </div>
</script>
<script id="Property" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProjectTypeProperty/Index/${ProjectTypeId}"><img src="/images/icons/Property.png" height="18" width="18"  title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Property")).TermString" /></a>

    </div>
</script>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProjectType/Edit/${ProjectTypeId}"><img src="/images/icons/EditS.png" height="18" width="18"  title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Languages" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProjectType/LanguageIndex/${ProjectTypeId}"><img src="/images/icons/LanguageS.png"  height="18" width="50" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Languages")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProjectType/Delete/${ProjectTypeId}"><img src="/images/icons/DeleteS.png" height="18" width="18"   title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Delete")).TermString"  /></a>

    </div>
</script>
