@model List<PersonRelationIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Person relations")).TermString;

}

<h1><img src="~/images/icons/Classifications.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Person relations")).TermString</h1>
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="FromTo" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="PersonFirstName" headerText="@Term.Find(x => x.InternalName.Equals("First name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="PersonLastName" headerText="@Term.Find(x => x.InternalName.Equals("Last name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="OrganizationName" headerText="@Term.Find(x => x.InternalName.Equals("Organization")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="IsOfLabel" headerText="@Term.Find(x => x.InternalName.Equals("Is of")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="~/PersonTelecom/Create">@Term.Find(x => x.InternalName.Equals("Add new relation")).TermString</a>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/PersonTelecom/Edit/${PersonTelecomId}"><span style="color:red">E</span>dit</a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="PersonTelecom/Delete/${PersonTelecomId}"><span style="color:red">D</span>elete</a>

    </div>
</script>
