@model List<ClassificationLevelPropertyIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification level properties")).TermString;
    ViewData["Image"] = "Property.png";
    ViewData["FavoriteGroup"] = @ViewBag.FavoriteGroupList;

    Layout = "_LayoutAdmin";
}

<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ClassificationLevelPropertyId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="PropertyName" headerText="@Term.Find(x => x.InternalName.Equals("Property name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="PropertyStatusName" headerText="@Term.Find(x => x.InternalName.Equals("Status")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a asp-controller="ClassificationLevel" asp-action="Index">@Term.Find(x => x.InternalName.Equals("Back to classification levels")).TermString</a>
<a asp-controller="ClassificationLevelProperty" asp-action="Create" asp-route-id="@ViewBag.Id">@Term.Find(x => x.InternalName.Equals("Add new classification level property")).TermString</a>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationLevelProperty/Edit/${ClassificationLevelPropertyId}"><img src="/images/icons/EditS.png" height="18" width="18" title="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationLevelProperty/Delete/${ClassificationLevelPropertyId}"><img src="/images/icons/DeleteS.png" height="18" width="18" title="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" /></a>

    </div>
</script>
