@model List<ClassificationValueRoleIndexGet>
@{
    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    ViewData["Title"] = @AllStuff.UITerms.Find(x => x.InternalName.Equals("Classification value roles")).TermString;
    ViewData["Image"] = "Role.png";
    ViewData["FavoriteGroup"] = AllStuff.FavoriteGroupList;


    Layout = "_LayoutAdmin";
}

<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ClassificationValueRoleID" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="RoleName" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Role")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="ClassificationRelationTypeName" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Relation type")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a asp-controller="ClassificationValue" asp-action="Index" asp-route-id="@ViewBag.Id">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Back to classification values")).TermString</a>
<a asp-controller="ClassificationValueRole" asp-action="Create" asp-route-id="@ViewBag.Id">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Add new classification value role")).TermString</a>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValueRole/Edit/${ClassificationValueRoleId}"><img src="/images/icons/EditS.png" height="18" width="18" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValueRole/Delete/${ClassificationValueRoleId}"><img src="/images/icons/DeleteS.png" height="18" width="18" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Delete")).TermString" /></a>

    </div>
</script>
