@model List<UITermLanguageIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Term customizations")).TermString;

    Layout = "_LayoutAdmin";
}

<h1><img src="~/images/icons/UITerm.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Term customizations")).TermString</h1><a data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
    <img src="~/images/icons/Favorites.png" width="20" height="20" title="@Term.Find(x => x.InternalName.Equals("Add favorite")).TermString" />
</a>

<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings RelationTypeSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="UITermLanguageId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="Language" headerText="@Term.Find(x => x.InternalName.Equals("Language")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="Name" headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="MenuName" headerText="@Term.Find(x => x.InternalName.Equals("Description")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="MouseOver" headerText="@Term.Find(x => x.InternalName.Equals("Mouse over")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="Customization" headerText="@Term.Find(x => x.InternalName.Equals("Customization")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="/Organization/Index">@Term.Find(x => x.InternalName.Equals("Back to terms")).TermString</a>
<a href="/Organization/LanguageCreate">@Term.Find(x => x.InternalName.Equals("Add new language")).TermString</a>

<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/UITerm/LanguageEdit/${UITermLanguageId}"><img src="/images/icons/EditS.png" height="18" width="18"  title="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="UITerm/LanguageDelete/${UITermLanguageId}"><img src="/images/icons/DeleteS.png" height="18" width="18"   title="@Term.Find(x => x.InternalName.Equals("Delete")).TermString"  /></a>

    </div>
</script>
