@model List<ProjectAdvancedSearchResult>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Project search result")).TermString;
    Layout = "_Layout";
}
<h1>@Term.Find(x => x.InternalName.Equals("Project search result")).TermString</h1>
<div class="container">
    @*<img src="~/images/icons/Persons.png" width="50" height="50" />*@
    <ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" template="#ProjectName" textAlign="Center" type="string"></e-grid-column>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Creator")).TermString" template="#Creator" textAlign="Center" type="string"></e-grid-column>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("CreatedDate")).TermString" template="#" textAlign="Center" type="string"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
    <script id="ProjectName" type="text/x-template">
        <div>
            <a class="nav-link text-dark font-weight-bold" href="/FrontProject/Dashboard/${ProjectId}"><u>${ProjectName}</u></a>
        </div>
    </script>
    <script id="Creator" type="text/x-template">
        <div>
            <a class="nav-link text-dark font-weight-bold" href="/FrontUser/Dashboard/${CreatorId}"><u>${CreatorName}</u></a>
        </div>
    </script>
    <script id="CreatedDate" type="text/x-template">
        <div>
            ${CreatedDate}
        </div>
    </script>
