@model FrontUserIndexGet
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;

    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <h1>User dashboard: @Model.FirstName</h1>
    </div>
</div>
<div class="row">

    <div class="col-2">
        <div> Salutation: </div>
        <div> First name:</div>
        <div> Middle name:</div>
        <div> Last name:</div>
        <div> PersonalTitle</div>
        <div> Suffix</div>
        <div> NickName</div>
    </div>
    <div class="col-3">
        <div> @Model.Salutation</div>
        <div> @Model.FirstName</div>
        <div> @Model.MiddleName</div>
        <div> @Model.LastName</div>
        <div> @Model.PersonalTitle</div>
        <div> @Model.Suffix</div>
        <div> @Model.NickName</div>
    </div>
    <div class="col-2">
        <div> FirstNameLocal: </div>
        @if (@Model.MiddleNameLocal != null)
        {<div> MiddleNameLocal:</div>}
        <div> LastNameLocal:</div>
        <div> GenderName:</div>
        <div> BirthDate</div>
        <div> SecurityLevelName</div>
        <div> OrganizationName</div>
        <div> Creator</div>
        <div> Created date</div>
        <div> Modifier</div>
        <div> Modified date</div>
    </div>
    <div class="col-3">
        <div> @Model.FirstNameLocal</div>
        <div> @Model.MiddleNameLocal</div>
        <div> @Model.LastNameLocal</div>
        <div> @Model.GenderName</div>
        <div> @Model.BirthDate</div>
        <div> @Model.SecurityLevelName</div>
        <div> @Model.OrganizationName</div>
        <div> <a asp-controller="FrontUser" asp-action="Dashboard" asp-route-id="@Model.CreatorId"> @Model.CreatorName</a></div>
        <div> @Model.CreatedDate</div>
        <div> <a asp-controller="FrontUser" asp-action="Dashboard" asp-route-id="@Model.ModifierId"> @Model.ModifierName</a></div>
        <div> @Model.ModifiedDate</div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div><h2>Addresses</h2></div>
        <ejs-grid id="Address" dataSource="@Model.Addresses" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column field="AddressTypeName" headerText="" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column field="CountryName" headerText="" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column field="City" headerText="" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-6">
        <div><h2>Telecom</h2></div>
        <ejs-grid id="Telecom" dataSource="@Model.Telecoms" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="" field="TelecomTypeName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="" field="TelecomValue" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div><h2>Organizations</h2></div>
        <ejs-grid id="Organization" dataSource="@Model.Organizations" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="" field="RoleName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="" field="OrganizationName" textAlign="Right" type="text" template="#OrganizationName"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-6">
        <div><h2>Projects</h2></div>
        <ejs-grid id="Project" dataSource="@Model.Projects" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="" field="RoleName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="" field="ProjectName" textAlign="Right" type="text" template="#ProjectName"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div><h2>Processes</h2></div>
        <ejs-grid id="Process" dataSource="@Model.Processes" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="" field="ProcessTemplateName" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="" field="Subject" textAlign="Right" type="text"></e-grid-column>
                <e-grid-column headerText="" field="ProcessTemplateStageTypeName" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-6">
        <div><h2>Content</h2></div>
        <ejs-grid id="Content" dataSource="@Model.Contents" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="" field="Title" textAlign="Right" type="text" template="#ContentPanel"></e-grid-column>
                <e-grid-column headerText="" field="TypeName" textAlign="Right" type="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
<script id="OrganizationName" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontOrganization/Dashboard/${OrganizationId}"><u>${OrganizationName}</u></a>

    </div>
</script>
<script id="ProjectName" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontProject/Dashboard/${ProjectId}"><u>${ProjectName}</u></a>

    </div>
</script>
<script id="ContentPanel" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/FrontContent/ShowContent/${ContentId}"><u>${Title}</u></a>

    </div>
</script>
