@model List<FrontContentContentTypeGroup>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classifications")).TermString;

    Layout = "_Layout";
}

<h1>
    <img src="~/images/icons/Content.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Classifications")).TermString
</h1>
<a data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
    <img src="~/images/icons/Favorites.png" width="20" height="20" title="@Term.Find(x => x.InternalName.Equals("Add favorite")).TermString" />
</a>
@foreach (var x in Model)
{
    <h1>@x.ContentTypeGroupName</h1>
    @foreach (var y in x.ContentTypes)
    {
        <a asp-action="ContentNew" asp-route-id="@y.ContentTypeID">@y.ContentTypeName</a>
        <br />
    }
}
