@model List<ContentAdvancedSearchResult>
@{
    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Content search result")).TermString;
    ViewData["Image"] = "Content.png";
    ViewData["FavoriteGroup"] = @ViewBag.FavoriteGroupList;
    Layout = "_Layout";
}
<div class="container">
    <ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
        <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Title")).TermString" template="#Title" textAlign="Center" type="string"></e-grid-column>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Organization")).TermString" template="#Organization" textAlign="Center" type="string"></e-grid-column>
            <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Creator")).TermString" template="#Creator" textAlign="Center" type="string"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>
<script id="Title" type="text/x-template">
    <div class="leftAlignGridColumn">
        <a class="nav-link text-dark font-weight-bold" href="/FrontContent/ShowContent/${ContentId}"><u>${Title}</u></a>
    </div>
</script>
<script id="Organization" type="text/x-template">
    <div class="leftAlignGridColumn">
        <a class="nav-link text-dark font-weight-bold" href="/FrontOrganization/Dashboard/${OrganizationId}"><u>${OrganizationName}</u></a>
    </div>
</script>
<script id="Creator" type="text/x-template">
    <div class="leftAlignGridColumn">
        <a class="nav-link text-dark font-weight-bold" href="/FrontUser/Dashboard/${CreatorId}"><u>${CreatorName}</u></a>
    </div>
</script>
