@model List<UserIndexGet>
@{
    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    ViewData["Title"] = @AllStuff.UITerms.Find(x => x.InternalName.Equals("Users")).TermString;
    ViewData["Image"] = "User.png";
    ViewData["FavoriteGroup"] = AllStuff.FavoriteGroupList;
    Layout = "_LayoutAdmin";
}
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Id")).TermString" Template="#Id" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("First name")).TermString" Template="#FirstName" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Last name")).TermString" Template="#LastName" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Organization")).TermString" Template="#Organization" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a asp-action="Create">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Add user")).TermString</a>
<script id="Id" type="text/x-">
    <div>
        ${PersonId}
    </div>
</script>
<script id="FirstName" type="text/x-">
    <div>
        ${FirstName}
    </div>
</script>
<script id="LastName" type="text/x-">
    <div>
        ${LastName}
    </div>
</script>
<script id="Organization" type="text/x-">
    <div>
        ${OrganizationName}
    </div>
</script>
<script id="Edit" type="text/x-">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/User/Edit/${PersonId}"><img src="/images/icons/EditS.png" height="18" width="18"  title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="User/Delete/${PersonId}"><img src="/images/icons/DeleteS.png" height="18" width="18"   title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Delete")).TermString"  /></a>

    </div>
</script>
