@using Syncfusion.EJ2
@{    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    var Favorites = AllStuff.Favorites;
     //AllStuff.UITerms = AllStuff.UITerms;
    string Image = "/images/icons/" + (string)ViewData["Image"];

}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIPx.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    @*    <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>*@
    @*<script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>*@
    @*<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>*@
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">*@
        <div class="container">
            <h1 style="color:slategrey">
                <img src="~/images/su_logo.png" style="height:60px; width:90px" />
                Student Union 1.5
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>*@


            @{ if (Favorites != null)
                {
                    <ejs-menu id="menu" items="Favorites"></ejs-menu>
                } }



        </div>
        @*</nav>*@

    </header>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a class="nav-link text-dark font-weight-bold" asp-controller="Front" asp-action="Index">Frontend</a>
                <a class="nav-link text-dark font-weight-bold" asp-controller="Admin" asp-action="Menu" asp-route-id="1">Admin menu</a>
                @*<a class="nav-link text-dark font-weight-bold" asp-controller="Classification" asp-action="Index">Classifications</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="ClassificationRelationType" asp-action="Index">Classification relation types</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="Organization" asp-action="Index">Organizations</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="OrganizationType" asp-action="Index">Organization types</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="Page" asp-action="Index">Pages</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="Person" asp-action="Index">Persons</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="ProcessType" asp-action="Index">Process types</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="ProcessTypeGroup" asp-action="Index">Process type groups</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="Project" asp-action="Index">Projects</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="RoleGroup" asp-action="Index">Role groups</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="UserMenuTemplate" asp-action="Index">User template menus</a>
            <a class="nav-link text-dark font-weight-bold" asp-controller="Setting" asp-action="Index">Settings</a>*@

                <a href="https://localhost:44393/Meta/">Meta</a>
                <a href="https://localhost:44393/CreateDB/">Create DB</a>
                <a href="https://localhost:44393/Swagger/">Swagger</a>
            </div>
            @{
                var parms = new Dictionary<string, string>
                {
                { "MetaTypeId", "1" },
                { "Id", (string)ViewData["ScreenId"]}
            };
            }
            <div class="col-10">
                <h1>
                    <img src="@Image" width="50" height="50" />&nbsp;@ViewData["Title"]
                </h1>
                <a data-toggle="modal" data-target="#favoriteModal" style="cursor: pointer">
                    <img src="~/images/icons/Favorites.png" width="20" height="20" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Add favorite")).TermString" />
                </a>
                <a data-toggle="modal" data-target="#readLogModal" style="cursor: pointer">
                    <img src="~/images/icons/ReadLog.png" width="20" height="20" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Read log")).TermString" />
                </a>
                <a data-toggle="modal" data-target="#changeLogModal" style="cursor: pointer">
                    <img src="~/images/icons/ChangeLog.png" width="20" height="20" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Change log")).TermString" />
                </a>
                <a asp-controller="MetaContent" asp-action="Index" asp-all-route-data="parms">
                    <img src="~/images/icons/meta.png" width="20" height="20" title="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Meta content")).TermString" />
                </a>
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SIPx.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <!-- Syncfusion Essential JS 2 ScriptManager -->

    <div class="modal fade" id="favoriteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Add favorite")).TermString</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Name")).TermString
                            </div>
                            <div class="col-9">
                                <ejs-textbox id="FavoriteName" value="@ViewData["Title"]" cssClass="e-outline" placeholder="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Name")).TermString" floatLabelType="Auto"></ejs-textbox>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Group")).TermString
                            </div>
                            <div class="col-1">
                                <ejs-radiobutton id="ExistingFavoriteGroup" name="FavoriteGroup" checked="true" cssClass="e-small"></ejs-radiobutton>
                            </div>
                            <div class="col-8">
                                <ejs-dropdownlist id="FavoriteGroupId" dataSource="@ViewData["FavoriteGroup"]" value="0" popupHeight="220px">
                                    <e-dropdownlist-fields text="Name" value="MVCFavoriteGroupId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                @AllStuff.UITerms.Find(x => x.InternalName.Equals("New group")).TermString
                            </div>
                            <div class="col-1">
                                <ejs-radiobutton id="NewFavoriteGroup" name="FavoriteGroup" checked="false" cssClass="e-small"></ejs-radiobutton>
                            </div>
                            <div class="col-8">
                                <ejs-textbox id="NewGroup" cssClass="e-outline" floatLabelType="Auto" width="100%" class="col-8"></ejs-textbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button href="#" id="Favorites">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Add")).TermString</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="readLogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Read log")).TermString</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <ejs-grid id="ReadLogGrid" dataSource="@ViewBag.ReadLogView" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
                                    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                                    <e-grid-columns>
                                        <e-grid-column field="ReadLogId" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
                                        <e-grid-column field="UserName" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("User name")).TermString" textAlign="Right" type="number"></e-grid-column>
                                        @*<e-grid-column id="columnReadLog" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Id")).TermString" template="#TemplateReadLog" textAlign="Right" type="string"></e-grid-column>*@
                                        @*<e-grid-column headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("User name")).TermString" template="#ReadLogUserName" textAlign="Right" type="string"></e-grid-column>*@
                                        <e-grid-column field="ReadLogDate" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Date")).TermString" textAlign="Right" type="boolean"></e-grid-column>
                                    </e-grid-columns>
                                </ejs-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="changeLogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Change log")).TermString</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <ejs-grid id="ChangeLogGrid" dataSource="@ViewBag.ChangeLogView" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
                                    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                                    <e-grid-columns>
                                        <e-grid-column field="ChangeLogId" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
                                        <e-grid-column field="UserName" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("User name")).TermString" textAlign="Right" type="number"></e-grid-column>
                                        <e-grid-column field="ReadLogDate" headerText="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Date")).TermString" textAlign="Right" type="boolean"></e-grid-column>
                                    </e-grid-columns>
                                </ejs-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ejs-scripts></ejs-scripts>
</body>
</html>
<style>

    .shortcut {
        float: right;
        margin-top: 9px;
        padding-left: 30px;
        height: 100px;
    }

    .e-data {
        border: 1px solid rgba(0, 0, 0, 0.87);
        padding: 8px;
    }

    .e-border {
        border: black;
        border-radius: 2px;
        background-color: #fafafa;
    }

    /*  PETER TODO, this was initially added for the favorite menu but got some troubles for the grids. The rest of the styles are ok.
        .e-table::before {
            content: '\e705';
        }
    */
    .e-row {
        padding-left: 3px;
        padding-right: 3px;
    }

    button {
        margin: 25px 5px 20px 20px;
    }
</style>

@*<script id="TemplateReadLog" type="text/x-template">
        <div>
                        <div title="Level"></div><span style="color:red">L</span>evel

        </div>
    </script>*@
<script>

    document.getElementById("NewGroup").addEventListener("focus", isNewGroup);
    document.getElementById("NewGroup").addEventListener("blur", isNewGroup2);
    document.getElementById("FavoriteGroupId").addEventListener("focus", isExistingGroup);
    document.getElementById("FavoriteGroupId_hidden").addEventListener("focus", isExistingGroup);
    document.getElementById("DropDownListId_hidden").addEventListener("focus", isExistingGroup);
    function isNewGroup() {
        document.getElementById("NewFavoriteGroup").checked = true;
    }
    function isNewGroup2() {
        window.alert(document.activeElement.id);
    }
    function isExistingGroup() {
        document.getElementById("ExistingFavoriteGroup").checked = true;
    }
</script>