@using Syncfusion.EJ2
@{var Favorites = ViewBag.Favorites;
    var UITermLayout = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    string Image = "/images/icons/" + (string)ViewData["Image"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIPx.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1 style="color:slategrey">
                <img src="~/images/su_logo.png" style="height:60px; width:90px" />
                Student Union 1.5
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>*@


            @{ if (Favorites != null)
                {
                    <ejs-menu id="menu" items="Favorites"></ejs-menu>
                } }



        </div>

    </header>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a class="nav-link text-dark font-weight-bold" asp-controller="Front" asp-action="Index">Frontend</a>
                <a class="nav-link text-dark font-weight-bold" asp-controller="Admin" asp-action="Menu" asp-route-id="1">Admin menu</a>

                <a href="https://localhost:44393/Meta/">Meta</a>
                <a href="https://localhost:44393/CreateDB/">Create DB</a>
                <a href="https://localhost:44393/Swagger/">Swagger</a>
            </div>
            <div class="col-10">
                <h1>
                    <img src="@Image" width="50" height="50" />&nbsp;@ViewData["Title"]
                </h1>
                <a data-toggle="modal" data-target="#favoriteModal" style="cursor: pointer">
                    <img src="~/images/icons/Favorites.png" width="20" height="20" title="@UITermLayout.Find(x => x.InternalName.Equals("Add favorite")).TermString" />
                </a>
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SIPx.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <!-- Syncfusion Essential JS 2 ScriptManager -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@UITermLayout.Find(x => x.InternalName.Equals("Add favorite")).TermString</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                @UITermLayout.Find(x => x.InternalName.Equals("Name")).TermString
                            </div>
                            <div class="col-9">
                                <ejs-textbox id="FavoriteName" value="@ViewData["Title"]" cssClass="e-outline" placeholder="@UITermLayout.Find(x => x.InternalName.Equals("Name")).TermString" floatLabelType="Auto"></ejs-textbox>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                @UITermLayout.Find(x => x.InternalName.Equals("Group")).TermString
                            </div>
                            <div class="col-1">
                                <ejs-radiobutton id="ExistingFavoriteGroup" name="FavoriteGroup" checked="true" cssClass="e-small"></ejs-radiobutton>
                            </div>
                            <div class="col-8">
                                <ejs-dropdownlist id="FavoriteGroupId" dataSource="@ViewData["FavoriteGroup"]" value="0" popupHeight="220px">
                                    <e-dropdownlist-fields text="Name" value="MVCFavoriteGroupId"></e-dropdownlist-fields>
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                @UITermLayout.Find(x => x.InternalName.Equals("New group")).TermString
                            </div>
                            <div class="col-1">
                                <ejs-radiobutton id="NewFavoriteGroup" name="FavoriteGroup" checked="false" cssClass="e-small"></ejs-radiobutton>
                            </div>
                            <div class="col-8">
                                <ejs-textbox id="NewGroup" cssClass="e-outline" floatLabelType="Auto" width="100%" class="col-8"></ejs-textbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button href="#" id="Favorites">@UITermLayout.Find(x => x.InternalName.Equals("Add")).TermString</button>
                </div>
            </div>
        </div>
    </div>



    @*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@ViewData["Add favorite"]</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    @ViewData["Name"]
                                </div>
                                <div class="col-9">
                                    <ejs-textbox id="FavoriteName" value="@ViewData[" Title"]" cssClass="e-outline" placeholder="@ViewData["Title"]" floatLabelType="Auto"></ejs-textbox>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    @ViewData["Group"]
                                </div>
                                <div class="col-9">
                                    <ejs-dropdownlist id="FavoriteGroupId" dataSource="@ViewData["FavoriteGroup"]" value="0" popupHeight="220px">
                                        <e-dropdownlist-fields text="Name" value="MVCFavoriteGroupId"></e-dropdownlist-fields>
                                    </ejs-dropdownlist>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button href="#" id="Favorites">@ViewData["Add"]</button>
                    </div>
                </div>
            </div>
        </div>*@
    <ejs-scripts></ejs-scripts>
</body>
</html>
<style>

    .shortcut {
        float: right;
        margin-top: 9px;
        padding-left: 30px;
        height: 100px;
    }

    .e-data {
        border: 1px solid rgba(0, 0, 0, 0.87);
        padding: 8px;
    }

    .e-border {
        border: black;
        border-radius: 2px;
        background-color: #fafafa;
    }

    /*  PETER TODO, this was initially added for the favorite menu but got some troubles for the grids. The rest of the styles are ok.
        .e-table::before {
            content: '\e705';
        }
    */
    .e-row {
        padding-left: 3px;
        padding-right: 3px;
    }

    button {
        margin: 25px 5px 20px 20px;
    }
</style>

@*<script>
        $(document).ready(function () {
            $("#Favorites").click(function () {
                var Favorite = {
                    controller: 'Classification',
                    action: 'Create',
                    name: document.getElementById("FavoriteName").value,
                    MVCFavoriteGroupId: document.getElementById("FavoriteGroupId_hidden").value
                };
                $.post("/Favorite/Add/",
                    Favorite
                    , function () { $("#favoriteModal").modal('hide'); });
            });
        });

    </script>*@