@model List<ClassificationLanguageIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification languages")).TermString;

}

<h1><img src="~/images/icons/Classifications.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Classification languages")).TermString</h1>
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ClassificationLanguageId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" width="5%" type="number"></e-grid-column>
        <e-grid-column field="Name" headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" width="50%" type="string"></e-grid-column>
        <e-grid-column field="MenuName" headerText="@Term.Find(x => x.InternalName.Equals("Menu name")).TermString" textAlign="Right" width="5%" type="boolean"></e-grid-column>
        <e-grid-column field="MouseOver" headerText="@Term.Find(x => x.InternalName.Equals("Mouse over")).TermString" textAlign="Right" width="5%" type="boolean"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" template="#Edit" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" template="#Delete" textAlign="Center" width="5%" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="~/Classification/Index">@Term.Find(x => x.InternalName.Equals("Back to classifications")).TermString</a>
<a href="~/Classification/LanguageCreate">@Term.Find(x => x.InternalName.Equals("Add new language")).TermString</a>

<script id="Levels" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationLevel/Index/${ClassificationId}"><span style="color:red">L</span>evel</a>

    </div>
</script>
<script id="Values" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/Classification/ValueIndex/${ClassificationId}"><span style="color:red">V</span>alue</a>

    </div>
</script>
<script id="Pages" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationPage/Index/${ClassificationId}"><span style="color:red">P</span>age</a>

    </div>
</script>
<script id="Roles" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationRelationRole/Index/${ClassificationId}"><span style="color:red">R</span>ole</a>

    </div>
</script>
<script id="Users" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationRelationUser/Index/${ClassificationId}"><span style="color:red">U</span>ser</a>

    </div>
</script>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/Classification/Edit/${ClassificationId}"><span style="color:red">E</span>dit</a>

    </div>
</script>
<script id="Languages" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/Classification/LanguageIndex/${ClassificationId}"><span style="color:red">L</span>anguage</a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="Classification/Delete/${ClassificationId}"><span style="color:red">D</span>elete</a>

    </div>
</script>
