@model List<ClassificationLevelIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification levels")).TermString;

}

<h1><img src="~/images/icons/Classifications.png" width="50px" height="50px" />@Term.Find(x => x.InternalName.Equals("Classification levels")).TermString</h1>
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ClassificationLevelId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" width="5%" type="number"></e-grid-column>
        <e-grid-column field="Name" headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" width="50%" type="string"></e-grid-column>
        <e-grid-column field="HasDropDown" headerText="@Term.Find(x => x.InternalName.Equals("Has dropdown")).TermString" textAlign="Right" width="5%" type="boolean"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Levels")).TermString" template="#Levels" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Values")).TermString" template="#Values" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Pages")).TermString" template="#Pages" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Pages")).TermString" template="#Roles" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Pages")).TermString" template="#Users" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" template="#Edit" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Languages")).TermString" template="#Languages" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" template="#Delete" textAlign="Center" width="5%" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
@foreach (var x in Model)

{@x.Name}
<script id="Levels" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/Classification/LevelIndex/${ClassificationId}"><span style="color:red">L</span>evel</a>

    </div>
</script>
<script id="Values" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="~/Classification/ValueIndex/${ClassificationId}"><span style="color:red">V</span>alue</a>

    </div>
</script>
<script id="Pages" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="~/Classification/PageIndex/${ClassificationId}"><span style="color:red">P</span>age</a>

    </div>
</script>
<script id="Roles" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="~/Classification/RoleIndex/${ClassificationId}"><span style="color:red">R</span>ole</a>

    </div>
</script>
<script id="Users" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="~/Classification/UserIndex/${ClassificationId}"><span style="color:red">U</span>ser</a>

    </div>
</script>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="Classification/Edit/${ClassificationId}"><span style="color:red">E</span>dit</a>

    </div>
</script>
<script id="Languages" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="Classification/LanguageIndex/${ClassificationId}"><span style="color:red">L</span>anguage</a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="Classification/Delete/${ClassificationId}"><span style="color:red">D</span>elete</a>

    </div>
</script>
