@model List<NewProcessShowTemplateGroup>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    //ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classifications")).TermString;

}

<h1><img src="~/images/icons/Classifications.png" width="50" height="50" />Page / dashboard</h1>
<div class=" control-section">
    @foreach (var x in Model)
    {
        <div class="font-weight-bold">@x.ProcessTemplateGroupId</div>
        <div class="font-weight-bold">@x.Name</div>
        @foreach (var y in x.templates)
        {<div>@y.ProcessTemplateId</div>
        <div>@y.Name</div>
    }
    }
</div>
    <!--  DashboardLayout element declaration -->
