@model List<NewProcessShowTemplateGroup>
@{
    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    ViewData["Title"] = "Home Page";
    ViewData["Image"] = "Process.png";
    ViewData["FavoriteGroup"] = AllStuff.FavoriteGroupList;
    Layout = "_Layout";
}
<div class=" control-section">
    @foreach (var x in Model)
    {
        if (x.templates.Count > 0)
        {@if (ViewBag.Env == "Production")
            {
                <div class="font-weight-bold" hidden>@x.ProcessTemplateGroupId</div>
            }
            else
            {
                <div class="font-weight-bold" >@x.ProcessTemplateGroupId</div>
            }

        <div class="font-weight-bold"><h2>@x.Name</h2></div>
        @foreach (var y in x.templates)
        {
            <a class="nav-link text-dark font-weight-bold" asp-controller="FrontProcess" asp-action="Create" asp-route-id="@y.ProcessTemplateId"><img src="@y.FileName" width="15" height="15" />&nbsp @y.Name</a>
        }
    }
}
</div>
<!--  DashboardLayout element declaration -->
