@model List<NewProcessShowTemplateGroup>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    //ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classifications")).TermString;

}
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<h1><img src="~/images/icons/Classifications.png" width="50" height="50" />Process templates</h1>
<div class=" control-section">
    @foreach (var x in Model)
    {
        if (x.templates.Count > 0)
        {
            <div class="font-weight-bold" hidden>@x.ProcessTemplateGroupId</div>
            <div class="font-weight-bold"><h2>@x.Name</h2></div>
            @foreach (var y in x.templates)
            {
                <a class="nav-link text-dark font-weight-bold" asp-controller="FrontProcess" asp-action="Create" asp-route-id="@y.ProcessTemplateId">@y.Name</a>
            }
        }
    }
</div>
<!--  DashboardLayout element declaration -->
