@using Syncfusion.EJ2
@using Newtonsoft.Json
@model FrontProcessView
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Process")).TermString;
    Layout = "_Layout";
}

<h1><img src="~/images/icons/Process.png" width="50" height="50" />&nbsp;@Term.Find(x => x.InternalName.Equals("Process")).TermString</h1><a data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
    <img src="~/images/icons/Favorites.png" width="20" height="20" title="@Term.Find(x => x.InternalName.Equals("Add favorite")).TermString" />
</a>

<div class="container">
    <div class="row">
        <div class="col-3">
            @Term.Find(x => x.InternalName.Equals("Process template")).TermString:
        </div>
        <div class="col-9">
            @Model.ProcessTemplateName
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            @Term.Find(x => x.InternalName.Equals("Stage")).TermString:
        </div>
        <div class="col-9">
            @Model.ProcessTemplateStageName -
            @Model.ProcessTemplateStageTypeName
        </div>
    </div>
    @foreach (var x in Model.ProcessFields)
    {
        if (new[] { 1, 2, 32 }.Contains(x.ProcessTemplateFieldTypeId))//Text
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @Html.Raw(x.StringValue)
                </div>
            </div>
        }
        if (new[] { 3 }.Contains(x.ProcessTemplateFieldTypeId)) //Number
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.IntValue
                </div>
            </div>
        }
        if (new[] { 4, 5, 6, 7, 8, 9 }.Contains(x.ProcessTemplateFieldTypeId))//Date
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.DateTimeValue
                </div>
            </div>
        }
        if (new[] { 12, 13 }.Contains(x.ProcessTemplateFieldTypeId))//User
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.PrimarySecondaryUserName
                </div>
            </div>
        }
        if (new[] { 14, 15 }.Contains(x.ProcessTemplateFieldTypeId))//Organization
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.PrimarySecondaryOrganizationName
                </div>
            </div>
        }
        if (new[] { 16, 17 }.Contains(x.ProcessTemplateFieldTypeId))//Project
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.PrimarySecondaryProjectName
                </div>
            </div>
        }
        if (new[] { 18, 19 }.Contains(x.ProcessTemplateFieldTypeId))//Language
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.PrimarySecondaryLanguageName
                </div>
            </div>
        }
        if (new[] { 20, 21 }.Contains(x.ProcessTemplateFieldTypeId))//Classification
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.PrimarySecondaryClassificationName
                </div>
            </div>
        }
        if (new[] { 22, 23 }.Contains(x.ProcessTemplateFieldTypeId))//ClassificationValue
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.PrimarySecondaryClassificationValueName
                </div>
            </div>
        }
        if (new[] { 24, 25 }.Contains(x.ProcessTemplateFieldTypeId))//Content
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.PrimarySecondaryContentTitle
                </div>
            </div>
        }
        if (new[] { 26, 27 }.Contains(x.ProcessTemplateFieldTypeId))//Country
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.PrimarySecondaryCountryName
                </div>
            </div>
        }
        if (new[] { 28, 29 }.Contains(x.ProcessTemplateFieldTypeId))//SecurityLevel
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                </div>
                <div class="col-9">
                    @x.PrimarySecondarySecurityLevelName
                </div>
            </div>
        }
        if (new[] { 30, 31 }.Contains(x.ProcessTemplateFieldTypeId))//Role
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName
                </div>
                <div class="col-9">
                    @x.PrimarySecondaryRoleName:
                </div>
            </div>
        }
        if (new[] { 36, 37 }.Contains(x.ProcessTemplateFieldTypeId))//Person
        {
            <div class="row">
                <div class="col-3">
                    @x.ProcessTemplateFieldName:
                    @* PETER TODO Still not all scenarios are done *@
                </div>
                <div class="col-9">
                    <a asp-controller="FrontUser" asp-action="Dashboard" asp-route-id="@x.IntValue">
                        @x.PrimarySecondaryPersonName
                    </a>
                </div>
            </div>
        }
    }
</div>

