@model List<ClassificationLevelIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification levels")).TermString;

    Layout = "_LayoutAdmin";
}

<h1><img src="~/images/icons/Level.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Classification levels")).TermString</h1>
<a data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
    <img src="~/images/icons/Favorites.png" width="20" height="20" title="@Term.Find(x => x.InternalName.Equals("Add favorite")).TermString" />
</a>
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ClassificationLevelId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="Name" headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="DateLevelName" headerText="@Term.Find(x => x.InternalName.Equals("Date level name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="OnTheFly" headerText="@Term.Find(x => x.InternalName.Equals("On the fly")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="Alphabetically" headerText="@Term.Find(x => x.InternalName.Equals("Alphabetically")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="CanLink" headerText="@Term.Find(x => x.InternalName.Equals("Can link")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="InDropDown" headerText="@Term.Find(x => x.InternalName.Equals("In dropdown")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="InMenu" headerText="@Term.Find(x => x.InternalName.Equals("In menu")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column template="#Properties" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Languages" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a asp-controller="Classification" asp-action="Index">@Term.Find(x => x.InternalName.Equals("Back to classifications")).TermString</a>
<a asp-controller="ClassificationLevel" asp-action="Create" asp-route-id="@ViewBag.Id">@Term.Find(x => x.InternalName.Equals("Add new classification level")).TermString</a>
<script id="Properties" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationLevelProperty/Index/${ClassificationLevelId}"><img src="/images/icons/property.png" height="18" width="18" title="@Term.Find(x => x.InternalName.Equals("Properties")).TermString" /></a>

    </div>
</script>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationLevel/Edit/${ClassificationLevelId}"><img src="/images/icons/EditS.png" height="18" width="18" title="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Languages" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationLevel/LanguageIndex/${ClassificationLevelId}"><img src="/images/icons/LanguageS.png" height="18" width="50" title="@Term.Find(x => x.InternalName.Equals("Languages")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationLevel/Delete/${ClassificationLevelId}"><img src="/images/icons/DeleteS.png" height="18" width="18" title="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" /></a>

    </div>
</script>
