@model List<ClassificationLevelIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification levels")).TermString;

    Layout = "_LayoutAdmin";
}

<h1><img src="~/images/icons/Classifications.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Classification levels")).TermString</h1>
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ClassificationLevelId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="Name" headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="DateLevelName" headerText="@Term.Find(x => x.InternalName.Equals("Date level name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="OnTheFly" headerText="@Term.Find(x => x.InternalName.Equals("On the fly")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="Alphabetically" headerText="@Term.Find(x => x.InternalName.Equals("Alphabetically")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="CanLink" headerText="@Term.Find(x => x.InternalName.Equals("Can link")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="InDropDown" headerText="@Term.Find(x => x.InternalName.Equals("In dropdown")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="InMenu" headerText="@Term.Find(x => x.InternalName.Equals("In menu")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Languages")).TermString" template="#Languages" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a asp-controller="Classification" asp-action="Index">@Term.Find(x => x.InternalName.Equals("Back to classifications")).TermString</a>
<a asp-controller="ClassificationLevel" asp-action="Create" asp-route-id="@ViewBag.Id">@Term.Find(x => x.InternalName.Equals("Add new classification level")).TermString</a>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationLevel/Edit/${ClassificationLevelId}"><span style="color:red">E</span>dit</a>

    </div>
</script>
<script id="Languages" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationLevel/LanguageIndex/${ClassificationLevelId}"><span style="color:red">L</span>anguage</a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationLevel/Delete/${ClassificationLevelId}"><span style="color:red">D</span>elete</a>

    </div>
</script>
