@model List<ClassificationUserIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification users")).TermString;

}

<h1><img src="~/images/icons/Classifications.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Classification users")).TermString</h1>
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ClassificationUserId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" width="5%" type="number"></e-grid-column>
        <e-grid-column field="FirstName" headerText="@Term.Find(x => x.InternalName.Equals("First name")).TermString" textAlign="Right" width="50%" type="string"></e-grid-column>
        <e-grid-column field="LastName" headerText="@Term.Find(x => x.InternalName.Equals("Last name")).TermString" textAlign="Right" width="5%" type="string"></e-grid-column>
        <e-grid-column field="OrganizationName" headerText="@Term.Find(x => x.InternalName.Equals("Organization name")).TermString" textAlign="Right" width="5%" type="string"></e-grid-column>
        <e-grid-column field="ClassificationRelationTypeName" headerText="@Term.Find(x => x.InternalName.Equals("Relation type")).TermString" textAlign="Right" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" template="#Edit" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" template="#Delete" textAlign="Center" width="5%" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="~/Classification/Index">@Term.Find(x => x.InternalName.Equals("Back to classifications")).TermString</a>
<a href="~/ClassificationRelationUser/Create">@Term.Find(x => x.InternalName.Equals("Add user to classification relation")).TermString</a>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="ClassificationLevel/Edit/${ClassificationLevelId}"><span style="color:red">E</span>dit</a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="ClassificationLevel/Delete/${ClassificationLevelId}"><span style="color:red">D</span>elete</a>

    </div>
</script>
