@using Syncfusion.EJ2
@using Newtonsoft.Json
@model ContentTypeDeleteGet
@{
    var AllStuff = (ViewBagModel)ViewBag.AllStuff;
    var Term = AllStuff.UITerms;
    ViewData["Title"] = @AllStuff.UITerms.Find(x => x.InternalName.Equals("Delete content type")).TermString;
    ViewData["Image"] = "Type.png";
    ViewData["FavoriteGroup"] = AllStuff.FavoriteGroupList;

    Layout = "_LayoutAdmin";
}
<div class="container">

    <form method="post">
        @if (AllStuff.Env == "Production")
        {
            <div hidden class="row">
                <div class="col-3">
                    @AllStuff.UITerms.Find(x => x.InternalName.Equals("Id")).TermString ContentTypeId
                </div>
                <div class="col-9">
                    <ejs-numerictextbox id="ContentTypeId" ejs-for="@Model.ContentTypeId" cssClass="e-outline" placeholder="Name" floatLabelType="Auto"></ejs-numerictextbox>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-3">
                    @AllStuff.UITerms.Find(x => x.InternalName.Equals("Id")).TermString ContentTypeId
                </div>
                <div class="col-9">
                    <ejs-numerictextbox id="ContentTypeId" ejs-for="@Model.ContentTypeId" cssClass="e-outline" placeholder="Name" floatLabelType="Auto"></ejs-numerictextbox>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-3">
                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Name")).TermString
            </div>    <div class="col-9">
            @Model.Name
            </div>
        </div>
        <div class="row">
            <div class="col-3">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Description")).TermString</div>
            <div class="col-9">
            @Html.Raw(Model.Description)
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Menu name")).TermString
            </div>
            <div class="col-9">
        @Model.MenuName
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Mouse over")).TermString
            </div>
            <div class="col-9">
@Model.MouseOver
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Content type group")).TermString
            </div>
            <div class="col-9">
               @Model.ContentTypeGroupName
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Process type")).TermString
            </div>
            <div class="col-9">
 @Model.ProcessTypeName
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Security level")).TermString
            </div>
            <div class="col-9">
@Model.SecurityLevelName
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Creator")).TermString
            </div>
            <div class="col-9">
                @Model.CreatorName
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Created date")).TermString
            </div>
            <div class="col-9">
                @Model.CreatedDate
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Modifier")).TermString
            </div>
            <div class="col-9">
                @Model.ModifierName
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @AllStuff.UITerms.Find(x => x.InternalName.Equals("Modified date")).TermString
            </div>
            <div class="col-9">
                <div>@Model.ModifiedDate</div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 offset-3">
                <ejs-button id="primarybtn" content="@AllStuff.UITerms.Find(x => x.InternalName.Equals("Delete")).TermString" action="Submit" isPrimary="true"></ejs-button>
                <a asp-action="Index">@AllStuff.UITerms.Find(x => x.InternalName.Equals("Cancel")).TermString</a>
            </div>
        </div>

    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/css/css.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/htmlmixed/htmlmixed.js" type="text/javascript"></script>
<style>
    .e-code-mirror::before {
        content: '\e345';
    }

    .e-html-preview::before {
        content: '\e350';
    }

    .CodeMirror-linenumber,
    .CodeMirror-gutters {
        display: none;
    }

    .sb-header {
        z-index: 100;
    }

    .sb-content.e-view.hide-header {
        top: 0 !important;
    }

    .sb-header.e-view.hide-header {
        display: none;
    }

    .e-richtexteditor .e-rte-content .e-content pre {
        padding: 10px;
        background: #F4F5F7;
    }

    .highcontrast .e-richtexteditor .e-rte-content .e-content pre {
        padding: 10px;
        background: #303030;
    }
</style>
<script type="text/javascript">
    var rteObj, myCodeMirror, textArea;
    function created() {
        rteObj = this;
        textArea = rteObj.contentModule.getEditPanel();
    }
    function mirrorConversion(e) {
        var id = rteObj.getID() + 'mirror-view';
        var mirrorView = rteObj.element.querySelector('#' + id);
        var charCount = rteObj.element.querySelector('.e-rte-character-count');
        if (e.targetItem === 'Preview') {
            textArea.style.display = 'block';
            mirrorView.style.display = 'none';
            textArea.innerHTML = myCodeMirror.getValue();
            charCount.style.display = 'block';
        }
        else {
            if (!mirrorView) {
                mirrorView = ej.base.createElement('div', { className: 'e-content' });
                mirrorView.id = id;
                textArea.parentNode.appendChild(mirrorView);
            }
            else {
                mirrorView.innerHTML = '';
            }
            textArea.style.display = 'none';
            mirrorView.style.display = 'block';
            renderCodeMirror(mirrorView, defaultRTE.value);
            charCount.style.display = 'none';
        }
    }
    function renderCodeMirror(mirrorView, content) {
        myCodeMirror = CodeMirror(mirrorView, {
            value: content,
            lineNumbers: true,
            mode: 'text/html',
            lineWrapping: true,
        });
    }
    function handleFullScreen(e) {
        var sbCntEle = document.querySelector('.sb-content.e-view');
        var sbHdrEle = document.querySelector('.sb-header.e-view');
        if (e.targetItem === 'Maximize') {
            if (ej.base.Browser.isDevice && ej.base.Browser.isIos) {
                ej.base.addClass([sbCntEle, sbHdrEle], ['hide-header']);
            }
        }
        else if (e.targetItem === 'Minimize') {
            if (ej.base.Browser.isDevice && ej.base.Browser.isIos) {
                ej.base.removeClass([sbCntEle, sbHdrEle], ['hide-header']);
            }
        }
    }
    function actionCompleteHandler(e) {
        if (e.targetItem && (e.targetItem === 'SourceCode' || e.targetItem === 'Preview')) {
            this.sourceCodeModule.getPanel().style.display = 'none';
            mirrorConversion(e);
        }
        else {
            setTimeout(function () { rteObj.toolbarModule.refreshToolbarOverflow(); }, 400);
        }
    }
</script>
