@model List<ContentTypeIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Content types")).TermString;

    Layout = "_LayoutAdmin";
}

<h1><img src="~/images/icons/Type.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Content types")).TermString</h1>
<a data-toggle="modal" data-target="#exampleModal" style="cursor: pointer">
    <img src="~/images/icons/Favorites.png" width="20" height="20" title="@Term.Find(x => x.InternalName.Equals("Add favorite")).TermString" />
</a>
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true" rowHeight="30">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" template="#Id" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" template="#Name" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Group name")).TermString" template="#GroupName" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Languages" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="~/ContentType/Create">@Term.Find(x => x.InternalName.Equals("Add new content type")).TermString</a>
<script id="Id" type="text/x-template">
    <div>
        ${ContentTypeId}
    </div>
</script>
<script id="Name" type="text/x-template">
    <div >
        ${Name}
    </div>
</script>
<script id="GroupName" type="text/x-template">
    <div>
        ${ContentTypeGroupName}
    </div>
</script>
<script id="Edit" type="text/x-template">
    <div >
        <a class="nav-link text-dark font-weight-bold" href="/ContentType/Edit/${ContentTypeId}"><img src="/images/icons/EditS.png" height="18" width="18"  title="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Languages" type="text/x-template">
    <div >
        <a class="nav-link text-dark font-weight-bold" href="/ContentType/LanguageIndex/${ContentTypeId}"><img src="/images/icons/LanguageS.png"  height="18" width="50" title="@Term.Find(x => x.InternalName.Equals("Languages")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div >
        <a class="nav-link text-dark font-weight-bold" href="ContentType/Delete/${ContentTypeId}"><img src="/images/icons/DeleteS.png" height="18" width="18"   title="@Term.Find(x => x.InternalName.Equals("Delete")).TermString"  /></a>

    </div>
</script>
