@using Syncfusion.EJ2
@using Newtonsoft.Json
@model PageSectionCreateGet
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("User page section")).TermString;

    Layout = "_Layout";
}

<h1>
    <img src="~/images/icons/Classifications.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("User page section")).TermString
</h1>
<div class="container">
    <form method="post">

        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Name")).TermString
            </div>    <div class="col-9">
                <ejs-textbox id="Name" ejs-for="Name" cssClass="e-outline" placeholder="Name" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">@Term.Find(x => x.InternalName.Equals("Description")).TermString</div>
            <div class="col-9">
                <ejs-richtexteditor ejs-for="Description" id="defaultRTE" showCharCount="true" actionBegin="handleFullScreen" actionComplete="actionCompleteHandler" maxLength="2000" created="created">
                    <e-content-template>
                    </e-content-template>
                    <e-richtexteditor-toolbarsettings items="@ViewBag.tools">
                    </e-richtexteditor-toolbarsettings>
                </ejs-richtexteditor>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Menu name")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="MenuName" ejs-for="MenuName" cssClass="e-outline" placeholder="Menu name" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Mouse over")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="MouseOver" ejs-for="MouseOver" cssClass="e-outline" placeholder="Mouse over" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Title name")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="TitleName" ejs-for="TitleName" cssClass="e-outline" placeholder="Title name" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Title description")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="TitleDescription" ejs-for="TitleDescription" cssClass="e-outline" placeholder="Title description" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Sequence")).TermString
            </div>
            <div class="col-9">
                <ejs-dropdownlist id="Sequence" dataSource="@Model.Sequences" ejs-for="@Model.Sequence" value="@Model.Sequence" index="2" filtering="Sequences" popupHeight="220px">
                    <e-dropdownlist-fields text="Name" value="Sequence"></e-dropdownlist-fields>
                </ejs-dropdownlist>

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Page section type")).TermString
            </div>
            <div class="col-9">
                <ejs-dropdownlist id="PageSectionTypeId" dataSource="@Model.PageSectionTypes" ejs-for="@Model.PageSectionTypeId" value="@Model.PageSectionTypeId" index="2" filtering="PageSectionTypes" popupHeight="220px">
                    <e-dropdownlist-fields text="Name" value="PageSectionTypeId"></e-dropdownlist-fields>
                </ejs-dropdownlist>

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Page section data type")).TermString
            </div>
            <div class="col-9">
                <ejs-dropdownlist id="PageSectionDataTypes" dataSource="@Model.PageSectionDataTypes" ejs-for="@Model.PageSectionDataTypeId" value="@Model.PageSectionDataTypeId" index="2" filtering="PageSectionDataTypes" popupHeight="220px">
                    <e-dropdownlist-fields text="Name" value="PageSectionDataTypeId"></e-dropdownlist-fields>
                </ejs-dropdownlist>

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Show title name")).TermString
            </div>
            <div class="col-9">
                <ejs-checkbox id="ShowTitleName" label="OnTheFly" ejs-for="ShowSectionTitleName" checked="@Model.ShowSectionTitleName"></ejs-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Show title description")).TermString
            </div>
            <div class="col-9">
                <ejs-checkbox id="ShowTitleDescription" label="ShowTitleDescription" ejs-for="ShowSectionTitleDescription" checked="@Model.ShowSectionTitleDescription"></ejs-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Show content type title name")).TermString
            </div>
            <div class="col-9">
                <ejs-checkbox id="ShowContentTypeTitleName" label="OnTheFly" ejs-for="ShowContentTypeTitleName" checked="@Model.ShowContentTypeTitleName"></ejs-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Show content type title description")).TermString
            </div>
            <div class="col-9">
                <ejs-checkbox id="ShowContentTypeTitleDescription" label="ShowContentTypeTitleDescription" ejs-for="ShowContentTypeTitleDescription" checked="@Model.ShowContentTypeTitleDescription"></ejs-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("One two columns")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="OneTwoColumns" label="OneTwoColumns" ejs-for="OneTwoColumns"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Content type")).TermString
            </div>
            <div class="col-9">
                <ejs-dropdownlist id="ContentType" dataSource="@Model.ContentTypes" ejs-for="@Model.ContentTypeId" value="@Model.ContentTypeId" index="2" filtering="ContentTypes" popupHeight="220px">
                    <e-dropdownlist-fields text="Name" value="ContentTypeId"></e-dropdownlist-fields>
                </ejs-dropdownlist>

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Sort by")).TermString
            </div>
            <div class="col-9">
                <ejs-dropdownlist id="SortBy" dataSource="@Model.SortBys" ejs-for="@Model.SortById" value="@Model.SortById" index="2" filtering="SortBys" popupHeight="220px">
                    <e-dropdownlist-fields text="Name" value="SortBId"></e-dropdownlist-fields>
                </ejs-dropdownlist>

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Max content")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="MaxContent" ejs-for="MaxContent"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Has paging")).TermString
            </div>
            <div class="col-9">
                <ejs-checkbox id="HasPaging" label="HasPaging" ejs-for="HasPaging" checked="@Model.HasPaging"></ejs-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3 offset-3">
                <ejs-button id="primarybtn" content="@Term.Find(x => x.InternalName.Equals("Save")).TermString" isPrimary="true"></ejs-button>
                <a asp-action="Index" asp-route-id="@Model.PageId">@Term.Find(x => x.InternalName.Equals("Cancel")).TermString</a>
            </div>
        </div>

    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/css/css.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/htmlmixed/htmlmixed.js" type="text/javascript"></script>
<style>
    .e-code-mirror::before {
        content: '\e345';
    }

    .e-html-preview::before {
        content: '\e350';
    }

    .CodeMirror-linenumber,
    .CodeMirror-gutters {
        display: none;
    }

    .sb-header {
        z-index: 100;
    }

    .sb-content.e-view.hide-header {
        top: 0 !important;
    }

    .sb-header.e-view.hide-header {
        display: none;
    }

    .e-richtexteditor .e-rte-content .e-content pre {
        padding: 10px;
        background: #F4F5F7;
    }

    .highcontrast .e-richtexteditor .e-rte-content .e-content pre {
        padding: 10px;
        background: #303030;
    }
</style>
<script type="text/javascript">
    var rteObj, myCodeMirror, textArea;
    function created() {
        rteObj = this;
        textArea = rteObj.contentModule.getEditPanel();
    }
    function mirrorConversion(e) {
        var id = rteObj.getID() + 'mirror-view';
        var mirrorView = rteObj.element.querySelector('#' + id);
        var charCount = rteObj.element.querySelector('.e-rte-character-count');
        if (e.targetItem === 'Preview') {
            textArea.style.display = 'block';
            mirrorView.style.display = 'none';
            textArea.innerHTML = myCodeMirror.getValue();
            charCount.style.display = 'block';
        }
        else {
            if (!mirrorView) {
                mirrorView = ej.base.createElement('div', { className: 'e-content' });
                mirrorView.id = id;
                textArea.parentNode.appendChild(mirrorView);
            }
            else {
                mirrorView.innerHTML = '';
            }
            textArea.style.display = 'none';
            mirrorView.style.display = 'block';
            renderCodeMirror(mirrorView, defaultRTE.value);
            charCount.style.display = 'none';
        }
    }
    function renderCodeMirror(mirrorView, content) {
        myCodeMirror = CodeMirror(mirrorView, {
            value: content,
            lineNumbers: true,
            mode: 'text/html',
            lineWrapping: true,
        });
    }
    function handleFullScreen(e) {
        var sbCntEle = document.querySelector('.sb-content.e-view');
        var sbHdrEle = document.querySelector('.sb-header.e-view');
        if (e.targetItem === 'Maximize') {
            if (ej.base.Browser.isDevice && ej.base.Browser.isIos) {
                ej.base.addClass([sbCntEle, sbHdrEle], ['hide-header']);
            }
        }
        else if (e.targetItem === 'Minimize') {
            if (ej.base.Browser.isDevice && ej.base.Browser.isIos) {
                ej.base.removeClass([sbCntEle, sbHdrEle], ['hide-header']);
            }
        }
    }
    function actionCompleteHandler(e) {
        if (e.targetItem && (e.targetItem === 'SourceCode' || e.targetItem === 'Preview')) {
            this.sourceCodeModule.getPanel().style.display = 'none';
            mirrorConversion(e);
        }
        else {
            setTimeout(function () { rteObj.toolbarModule.refreshToolbarOverflow(); }, 400);
        }
    }
</script>

<script type="text/javascript">
        function Sequences(e) {
                    var query = new ej.data.Query();
                    query = (e.text !== '') ? query.where('Name', 'startswith', e.text, true) : query;
                    e.updateData(@Html.Raw(JsonConvert.SerializeObject(Model.Sequences)), query);
                }
</script>
<script type="text/javascript">
        function PageSectionDataTypes(e) {
                    var query = new ej.data.Query();
                    query = (e.text !== '') ? query.where('Name', 'startswith', e.text, true) : query;
                    e.updateData(@Html.Raw(JsonConvert.SerializeObject(Model.PageSectionDataTypes)), query);
                }
</script>
<script type="text/javascript">
    function PageSectionTypes(e) {
                    var query = new ej.data.Query();
                    query = (e.text !== '') ? query.where('Name', 'startswith', e.text, true) : query;
                    e.updateData(@Html.Raw(JsonConvert.SerializeObject(Model.PageSectionTypes)), query);
                }
</script>
<script type="text/javascript">
    function ContentTypes(e) {
                    var query = new ej.data.Query();
                    query = (e.text !== '') ? query.where('Name', 'startswith', e.text, true) : query;
                    e.updateData(@Html.Raw(JsonConvert.SerializeObject(Model.ContentTypes)), query);
                }
</script>
<script type="text/javascript">
    function SortBys(e) {
                    var query = new ej.data.Query();
                    query = (e.text !== '') ? query.where('Name', 'startswith', e.text, true) : query;
                    e.updateData(@Html.Raw(JsonConvert.SerializeObject(Model.SortBys)), query);
                }
</script>
