@model List<PageSectionIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Page sections")).TermString;

}

<h1><img src="~/images/icons/s.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Page sections")).TermString</h1>
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="LevelId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" width="5%" type="number"></e-grid-column>
        <e-grid-column field="Name" headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" width="50%" type="string"></e-grid-column>
        <e-grid-column field="DateLevelName" headerText="@Term.Find(x => x.InternalName.Equals("Menu name")).TermString" textAlign="Right" width="5%" type="string"></e-grid-column>
        <e-grid-column field="OnTheFly" headerText="@Term.Find(x => x.InternalName.Equals("Mouse over")).TermString" textAlign="Right" width="5%" type="string"></e-grid-column>
        <e-grid-column field="Alphabetically" headerText="@Term.Find(x => x.InternalName.Equals("Title name")).TermString" textAlign="Right" width="5%" type="string"></e-grid-column>
        <e-grid-column field="CanLink" headerText="@Term.Find(x => x.InternalName.Equals("Title description")).TermString" textAlign="Right" width="5%" type="string"></e-grid-column>
        <e-grid-column field="InDropDown" headerText="@Term.Find(x => x.InternalName.Equals("Status name")).TermString" textAlign="Right" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" template="#Edit" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Languages")).TermString" template="#Languages" textAlign="Center" width="5%" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" template="#Delete" textAlign="Center" width="5%" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="/Page/Index">@Term.Find(x => x.InternalName.Equals("Back to pages")).TermString</a>
<a href="/PageSection/Create">@Term.Find(x => x.InternalName.Equals("Add new page section")).TermString</a>

<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/PageSection/Edit/${PageSectionId}"><span style="color:red">E</span>dit</a>

    </div>
</script>
<script id="Languages" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/PageSection/LanguageIndex/${PageSectionId}"><span style="color:red">L</span>anguage</a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/PageSection/Delete/${PageSectionId}"><span style="color:red">D</span>elete</a>

    </div>
</script>
