
@model List<SIPx.API.ViewModels.MetaListClassification>
@{
}
<div class="table-responsive">
    <table class="table table-bordered table-sm table-hover">

        <thead>
            <tr><th>Classification ID</th><th>Name</th><th>Menu name</th><th>Mouse over</th><th>Status name</th><th>Default page</th><th>Has dropdown</th><th>Dropdown sequence</th></tr>
        </thead>
        @foreach (var x in Model)

        {
    <tr>
        <td><div>@x.ClassificationID</div></td>
        <td><div>@x.Name</div></td>
        <td><div>@x.MenuName</div></td>
        <td><div>@x.MouseOver</div></td>
        <td><div>@x.StatusName</div></td>
        <td><div>@x.DefaultPage</div></td>
        <td><div>@x.HasDropDown</div></td>
        <td><div>@x.DropDownSequence</div></td>
        <td><div><a asp-controller="Meta" asp-action="ClassificationLevels" asp-route-id="@x.ClassificationID">Levels</a></div></td>
    </tr>

        }
    </table>
</div>
