@model List<ProcessTemplateFieldIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Process template fields")).TermString;

    Layout = "_LayoutAdmin";
}

<h1><img src="~/images/icons/Classifications.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Process template fields")).TermString</h1>
<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ProcessTemplateFieldId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="Name" headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="ProcessTemplateFieldTypeName" headerText="@Term.Find(x => x.InternalName.Equals("Field type")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Field stages")).TermString" template="#FieldStage" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Languages")).TermString" template="#Language" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column headerText="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a asp-action="Create" asp-route-id="@ViewBag.Id">Term.Find(x => x.InternalName.Equals("Add new process template field")).TermString</a>
<script id="FieldStage" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProcessTemplateFieldStages/Index/${ProcessTemplateFieldId}"><span style="color:red">F</span>ield Stages</a>

    </div>
</script>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProcessTemplateField/Edit/${ProcessTemplateFieldId}"><span style="color:red">E</span>dit</a>

    </div>
</script>
<script id="Language" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProcessTemplateField/LanguageIndex/${ProcessTemplateFieldId}"><span style="color:red">L</span>anguage</a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="ProcessTemplateField/Delete/${ProcessTemplateFieldId}"><span style="color:red">D</span>elete</a>

    </div>
</script>
