@model List<ClassificationValueUserIndexGet>
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Classification value users")).TermString;
    ViewData["Image"] = "User.png";
    ViewData["FavoriteGroup"] = @ViewBag.FavoriteGroupList;

    Layout = "_LayoutAdmin";
}

<ejs-grid id="Grid" dataSource="@Model" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ClassificationValueUserId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="FirstName" headerText="@Term.Find(x => x.InternalName.Equals("First name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="LastName" headerText="@Term.Find(x => x.InternalName.Equals("Last name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="OrganizationName" headerText="@Term.Find(x => x.InternalName.Equals("Organization name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="ClassificationRelationTypeName" headerText="@Term.Find(x => x.InternalName.Equals("Relation type")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
        <e-grid-column template="#Delete" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<a href="~/Classification/Index">@Term.Find(x => x.InternalName.Equals("Back to classification values")).TermString</a>
<a asp-controller="ClassificationValueUser" asp-action="Create" asp-route-id="@ViewBag.Id">@Term.Find(x => x.InternalName.Equals("Add new classification value user")).TermString</a>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValueUser/Edit/${ClassificationValueUserId}"><img src="/images/icons/EditS.png" height="18" width="18"  title="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
<script id="Delete" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ClassificationValueUser/Delete/${ClassificationValueUserId}"><img src="/images/icons/DeleteS.png" height="18" width="18"   title="@Term.Find(x => x.InternalName.Equals("Delete")).TermString"  /></a>

    </div>
</script>
