@model ProcessTemplateStageFieldIndexGet
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Process template stage fields")).TermString;
    ViewData["Image"] = "StageField.png";
    ViewData["FavoriteGroup"] = @ViewBag.FavoriteGroupList;
    Layout = "_LayoutAdmin";
}
<div class="row">
    <div class="col-3">
        @Term.Find(x => x.InternalName.Equals("Id")).TermString ClassificationId
    </div>
    <div class="col-9">
        <ejs-numerictextbox id="ProcessTemplateStageId" ejs-for="@Model.ProcessTemplateStageId" cssClass="e-outline" placeholder="ProcessTemplateStageId" floatLabelType="Auto"></ejs-numerictextbox>
    </div>
</div>

<div class="row">
    <div class="col-3">
        @Term.Find(x => x.InternalName.Equals("Name")).TermString
    </div>    <div class="col-9">
        <ejs-textbox id="ProcessTemplateStageName" ejs-for="@Model.ProcessTemplateStageName" cssClass="e-outline" placeholder="Name" floatLabelType="Auto"></ejs-textbox>
    </div>
</div>
<ejs-grid id="Grid" dataSource="@Model.Fields" allowPaging="true" allowSorting="true" allowResizing="true">
    <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="ProcessTemplateStageFieldId" headerText="@Term.Find(x => x.InternalName.Equals("Id")).TermString" textAlign="Right" type="number"></e-grid-column>
        <e-grid-column field="FieldName" headerText="@Term.Find(x => x.InternalName.Equals("Name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="ProcessTemplateStageFieldStatusName" headerText="@Term.Find(x => x.InternalName.Equals("Status name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column field="ValueUpdateTypeName" headerText="@Term.Find(x => x.InternalName.Equals("Value update type name")).TermString" textAlign="Right" type="string"></e-grid-column>
        <e-grid-column template="#Edit" textAlign="Center" type="string"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<script id="Edit" type="text/x-template">
    <div>
        <a class="nav-link text-dark font-weight-bold" href="/ProcessTemplateStageField/Edit/${ProcessTemplateStageFieldId}"><img src="/images/icons/EditS.png" height="18" width="18" title="@Term.Find(x => x.InternalName.Equals("Edit")).TermString" /></a>

    </div>
</script>
