@using Syncfusion.EJ2
@using Newtonsoft.Json
@model UserMenuDeleteGet
@{
    var Term = (List<UITermLanguageCustomizationList>)ViewBag.UITerms;
    ViewData["Title"] = @Term.Find(x => x.InternalName.Equals("Delete user menu")).TermString;

}

<h1>
    <img src="~/images/icons/UserMenu.png" width="50" height="50" />@Term.Find(x => x.InternalName.Equals("Delete user menu")).TermString
</h1>
<div class="container">


    <form method="post">


        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Id")).TermString
            </div>    <div class="col-9">
                <ejs-numerictextbox id="Id" ejs-for="UserMenuId" enabled="false" cssClass="e-outline" placeholder="Name" floatLabelType="Auto"></ejs-numerictextbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Name")).TermString
            </div>    <div class="col-9">
                <ejs-textbox id="Name" ejs-for="Name" cssClass="e-outline" enabled="false" placeholder="Name" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Mouse over")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="MouseOver" ejs-for="MouseOver" enabled="false" cssClass="e-outline" placeholder="Mouse over" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Left menu type")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="MenuTypeNameLeft" ejs-for="UserMenuTypeNameLeft" enabled="false" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Right menu type")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="UserMenuTypeNameRight" ejs-for="UserMenuTypeNameRight" enabled="false" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Left menu page")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="UserPageNameLeft" ejs-for="UserPageNameLeft" enabled="false" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Right menu page")).TermString
            </div>
            <div class="col-9">
                <ejs-textbox id="UserPageNameRight" ejs-for="UserPageNameRight" enabled="false" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Icon")).TermString

            </div>
            <div class="col-9">
                <div class="col-9">
                    <ejs-textbox id="IconName" ejs-for="IconName" enabled="false" cssClass="e-outline" floatLabelType="Auto"></ejs-textbox>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Creator")).TermString

            </div>
            <div class="col-9">
                <div class="col-9">
                    <ejs-textbox id="CreatorName" ejs-for="CreatorName" enabled="false" cssClass="e-outline" placeholder="" floatLabelType="Auto"></ejs-textbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Created date")).TermString

            </div>
            <div class="col-9">
                <div class="col-9">
                    <ejs-textbox id="CreatedDate" ejs-for="CreatedDate" enabled="false" cssClass="e-outline" placeholder="" floatLabelType="Auto"></ejs-textbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Modifier")).TermString

            </div>
            <div class="col-9">
                <div class="col-9">
                    <ejs-textbox id="ModifierName" ejs-for="ModifierName" enabled="false" cssClass="e-outline" placeholder="" floatLabelType="Auto"></ejs-textbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                @Term.Find(x => x.InternalName.Equals("Modified date")).TermString

            </div>
            <div class="col-9">
                <div class="col-9">
                    <ejs-textbox id="ModifiedDate" ejs-for="ModifiedDate" enabled="false" cssClass="e-outline" placeholder="" floatLabelType="Auto"></ejs-textbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 offset-3">
                <ejs-button id="primarybtn" content="@Term.Find(x => x.InternalName.Equals("Delete")).TermString" action="Submit" isPrimary="true"></ejs-button>
                <a asp-action="Index">@Term.Find(x => x.InternalName.Equals("Cancel")).TermString</a>
            </div>
        </div>


    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/css/css.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/htmlmixed/htmlmixed.js" type="text/javascript"></script>
<style>
    .e-code-mirror::before {
        content: '\e345';
    }

    .e-html-preview::before {
        content: '\e350';
    }

    .CodeMirror-linenumber,
    .CodeMirror-gutters {
        display: none;
    }

    .sb-header {
        z-index: 100;
    }

    .sb-content.e-view.hide-header {
        top: 0 !important;
    }

    .sb-header.e-view.hide-header {
        display: none;
    }

    .e-richtexteditor .e-rte-content .e-content pre {
        padding: 10px;
        background: #F4F5F7;
    }

    .highcontrast .e-richtexteditor .e-rte-content .e-content pre {
        padding: 10px;
        background: #303030;
    }
</style>
<script type="text/javascript">
    var rteObj, myCodeMirror, textArea;
    function created() {
        rteObj = this;
        textArea = rteObj.contentModule.getEditPanel();
    }
    function mirrorConversion(e) {
        var id = rteObj.getID() + 'mirror-view';
        var mirrorView = rteObj.element.querySelector('#' + id);
        var charCount = rteObj.element.querySelector('.e-rte-character-count');
        if (e.targetItem === 'Preview') {
            textArea.style.display = 'block';
            mirrorView.style.display = 'none';
            textArea.innerHTML = myCodeMirror.getValue();
            charCount.style.display = 'block';
        }
        else {
            if (!mirrorView) {
                mirrorView = ej.base.createElement('div', { className: 'e-content' });
                mirrorView.id = id;
                textArea.parentNode.appendChild(mirrorView);
            }
            else {
                mirrorView.innerHTML = '';
            }
            textArea.style.display = 'none';
            mirrorView.style.display = 'block';
            renderCodeMirror(mirrorView, defaultRTE.value);
            charCount.style.display = 'none';
        }
    }
    function renderCodeMirror(mirrorView, content) {
        myCodeMirror = CodeMirror(mirrorView, {
            value: content,
            lineNumbers: true,
            mode: 'text/html',
            lineWrapping: true,
        });
    }
    function handleFullScreen(e) {
        var sbCntEle = document.querySelector('.sb-content.e-view');
        var sbHdrEle = document.querySelector('.sb-header.e-view');
        if (e.targetItem === 'Maximize') {
            if (ej.base.Browser.isDevice && ej.base.Browser.isIos) {
                ej.base.addClass([sbCntEle, sbHdrEle], ['hide-header']);
            }
        }
        else if (e.targetItem === 'Minimize') {
            if (ej.base.Browser.isDevice && ej.base.Browser.isIos) {
                ej.base.removeClass([sbCntEle, sbHdrEle], ['hide-header']);
            }
        }
    }
    function actionCompleteHandler(e) {
        if (e.targetItem && (e.targetItem === 'SourceCode' || e.targetItem === 'Preview')) {
            this.sourceCodeModule.getPanel().style.display = 'none';
            mirrorConversion(e);
        }
        else {
            setTimeout(function () { rteObj.toolbarModule.refreshToolbarOverflow(); }, 400);
        }
    }
</script>
